/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("fonts/exljbris_-_museosans-100-webfont.eot");
  src: url("fonts/exljbris_-_museosans-100-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/exljbris_-_museosans-100-webfont.woff") format("woff"), url("fonts/exljbris_-_museosans-100-webfont.ttf") format("truetype"), url("fonts/exljbris_-_museosans-100-webfont.svg#museo_sans100") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("fonts/exljbris_-_museosans-100italic-webfont.eot");
  src: url("fonts/exljbris_-_museosans-100italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/exljbris_-_museosans-100italic-webfont.woff") format("woff"), url("fonts/exljbris_-_museosans-100italic-webfont.ttf") format("truetype"), url("fonts/exljbris_-_museosans-100italic-webfont.svg#museo_sans100_italic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("fonts/exljbris_-_museosans-300-webfont.eot");
  src: url("fonts/exljbris_-_museosans-300-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/exljbris_-_museosans-300-webfont.woff") format("woff"), url("fonts/exljbris_-_museosans-300-webfont.ttf") format("truetype"), url("fonts/exljbris_-_museosans-300-webfont.svg#museo_sans300") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("fonts/exljbris_-_museosans-300italic-webfont.eot");
  src: url("fonts/exljbris_-_museosans-300italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/exljbris_-_museosans-300italic-webfont.woff") format("woff"), url("fonts/exljbris_-_museosans-300italic-webfont.ttf") format("truetype"), url("fonts/exljbris_-_museosans-300italic-webfont.svg#museo_sans300_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("fonts/exljbris_-_museosans-500-webfont.eot");
  src: url("fonts/exljbris_-_museosans-500-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/exljbris_-_museosans-500-webfont.woff") format("woff"), url("fonts/exljbris_-_museosans-500-webfont.ttf") format("truetype"), url("fonts/exljbris_-_museosans-500-webfont.svg#museo_sans500") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("fonts/exljbris_-_museosans-500italic-webfont.eot");
  src: url("fonts/exljbris_-_museosans-500italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/exljbris_-_museosans-500italic-webfont.woff") format("woff"), url("fonts/exljbris_-_museosans-500italic-webfont.ttf") format("truetype"), url("fonts/exljbris_-_museosans-500italic-webfont.svg#museo_sans500_italic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("fonts/exljbris_-_museosans-700-webfont.eot");
  src: url("fonts/exljbris_-_museosans-700-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/exljbris_-_museosans-700-webfont.woff") format("woff"), url("fonts/exljbris_-_museosans-700-webfont.ttf") format("truetype"), url("fonts/exljbris_-_museosans-700-webfont.svg#museo_sans700") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("fonts/exljbris_-_museosans-700italic-webfont.eot");
  src: url("fonts/exljbris_-_museosans-700italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/exljbris_-_museosans-700italic-webfont.woff") format("woff"), url("fonts/exljbris_-_museosans-700italic-webfont.ttf") format("truetype"), url("fonts/exljbris_-_museosans-700italic-webfont.svg#museo_sans700_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("fonts/exljbris_-_museosans-900-webfont.eot");
  src: url("fonts/exljbris_-_museosans-900-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/exljbris_-_museosans-900-webfont.woff") format("woff"), url("fonts/exljbris_-_museosans-900-webfont.ttf") format("truetype"), url("fonts/exljbris_-_museosans-900-webfont.svg#museo_sans900") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("fonts/exljbris_-_museosans-900italic-webfont.eot");
  src: url("fonts/exljbris_-_museosans-900italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/exljbris_-_museosans-900italic-webfont.woff") format("woff"), url("fonts/exljbris_-_museosans-900italic-webfont.ttf") format("truetype"), url("fonts/exljbris_-_museosans-900italic-webfont.svg#museo_sans900_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     01/14/13
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/*
 * Retina Backgrounds for Compass
 * by:              Gaya Kessler
 * last update:     01/14/13
 *
 * Usage:
 * 1. create background image for pixel ratio 1 screens and put it somewhere in your images folder.
 * 2. create background image for pixel ratio 2 screens and put it somewhere in your images folder.
 * 3. include the background-image property in your Sass/Scss using: '@include background-retina(<ratio-1-imagefile>, <ratio-2-imagefile>)'
 */
/* line 15, imports/_sprites.scss */
.background-background {
  background-image: url('../images/icons-s2f223244f2.png');
  background-position: -315px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 216px;
  width: 200px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 15, imports/_sprites.scss */
  .background-background {
    background-image: url('../images/icons-2x-s55850cf9cc.png');
    background-size: 765px 665px;
    background-position: -315px 0;
    height: 216px;
    width: 200px;
  }
}

/* line 15, imports/_sprites.scss */
.background-beginner {
  background-image: url('../images/icons-s2f223244f2.png');
  background-position: -336px -428px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 28px;
  width: 123px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 15, imports/_sprites.scss */
  .background-beginner {
    background-image: url('../images/icons-2x-s55850cf9cc.png');
    background-size: 765px 665px;
    background-position: -336px -428px;
    height: 28px;
    width: 122.5px;
  }
}

/* line 15, imports/_sprites.scss */
.background-how-does-it-work {
  background-image: url('../images/icons-s2f223244f2.png');
  background-position: 0 -428px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 237px;
  width: 336px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 15, imports/_sprites.scss */
  .background-how-does-it-work {
    background-image: url('../images/icons-2x-s55850cf9cc.png');
    background-size: 765px 665px;
    background-position: 0 -428px;
    height: 237px;
    width: 335.5px;
  }
}

/* line 15, imports/_sprites.scss */
.background-islc-logo {
  background-image: url('../images/icons-s2f223244f2.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 111px;
  width: 315px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 15, imports/_sprites.scss */
  .background-islc-logo {
    background-image: url('../images/icons-2x-s55850cf9cc.png');
    background-size: 765px 665px;
    background-position: 0 0;
    height: 110.5px;
    width: 314.5px;
  }
}

/* line 15, imports/_sprites.scss */
.background-learn-your-way {
  background-image: url('../images/icons-s2f223244f2.png');
  background-position: -519px -216px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 28px;
  width: 191px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 15, imports/_sprites.scss */
  .background-learn-your-way {
    background-image: url('../images/icons-2x-s55850cf9cc.png');
    background-size: 765px 665px;
    background-position: -519px -216px;
    height: 27.5px;
    width: 191px;
  }
}

/* line 15, imports/_sprites.scss */
.background-left-arrow-circle {
  background-image: url('../images/icons-s2f223244f2.png');
  background-position: -459px -428px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 15, imports/_sprites.scss */
  .background-left-arrow-circle {
    background-image: url('../images/icons-2x-s55850cf9cc.png');
    background-size: 765px 665px;
    background-position: -458px -428px;
    height: 50px;
    width: 49.5px;
  }
}

/* line 15, imports/_sprites.scss */
.background-make-paper-sing {
  background-image: url('../images/icons-s2f223244f2.png');
  background-position: 0 -268px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 160px;
  width: 765px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 15, imports/_sprites.scss */
  .background-make-paper-sing {
    background-image: url('../images/icons-2x-s55850cf9cc.png');
    background-size: 765px 665px;
    background-position: 0 -268px;
    height: 160px;
    width: 765px;
  }
}

/* line 15, imports/_sprites.scss */
.background-personal-feedback {
  background-image: url('../images/icons-s2f223244f2.png');
  background-position: -509px -428px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 29px;
  width: 212px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 15, imports/_sprites.scss */
  .background-personal-feedback {
    background-image: url('../images/icons-2x-s55850cf9cc.png');
    background-size: 765px 665px;
    background-position: -508px -428px;
    height: 28.5px;
    width: 212px;
  }
}

/* line 15, imports/_sprites.scss */
.background-right-arrow-circle {
  background-image: url('../images/icons-s2f223244f2.png');
  background-position: -710px -216px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 47px;
  width: 49px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 15, imports/_sprites.scss */
  .background-right-arrow-circle {
    background-image: url('../images/icons-2x-s55850cf9cc.png');
    background-size: 765px 665px;
    background-position: -710px -216px;
    height: 46.5px;
    width: 48.5px;
  }
}

/* line 15, imports/_sprites.scss */
.background-student-work {
  background-image: url('../images/icons-s2f223244f2.png');
  background-position: 0 -216px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 52px;
  width: 519px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 15, imports/_sprites.scss */
  .background-student-work {
    background-image: url('../images/icons-2x-s55850cf9cc.png');
    background-size: 765px 665px;
    background-position: 0 -216px;
    height: 52px;
    width: 519px;
  }
}
