@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/exljbris_-_museosans-100-webfont.eot");
  src: url("../fonts/exljbris_-_museosans-100-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris_-_museosans-100-webfont.woff") format("woff"), url("../fonts/exljbris_-_museosans-100-webfont.ttf") format("truetype"), url("../fonts/exljbris_-_museosans-100-webfont.svg#museo_sans100") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/exljbris_-_museosans-100italic-webfont.eot");
  src: url("../fonts/exljbris_-_museosans-100italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris_-_museosans-100italic-webfont.woff") format("woff"), url("../fonts/exljbris_-_museosans-100italic-webfont.ttf") format("truetype"), url("../fonts/exljbris_-_museosans-100italic-webfont.svg#museo_sans100_italic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/exljbris_-_museosans-300-webfont.eot");
  src: url("../fonts/exljbris_-_museosans-300-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris_-_museosans-300-webfont.woff") format("woff"), url("../fonts/exljbris_-_museosans-300-webfont.ttf") format("truetype"), url("../fonts/exljbris_-_museosans-300-webfont.svg#museo_sans300") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/exljbris_-_museosans-300italic-webfont.eot");
  src: url("../fonts/exljbris_-_museosans-300italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris_-_museosans-300italic-webfont.woff") format("woff"), url("../fonts/exljbris_-_museosans-300italic-webfont.ttf") format("truetype"), url("../fonts/exljbris_-_museosans-300italic-webfont.svg#museo_sans300_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/exljbris_-_museosans-500-webfont.eot");
  src: url("../fonts/exljbris_-_museosans-500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris_-_museosans-500-webfont.woff") format("woff"), url("../fonts/exljbris_-_museosans-500-webfont.ttf") format("truetype"), url("../fonts/exljbris_-_museosans-500-webfont.svg#museo_sans500") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/exljbris_-_museosans-500italic-webfont.eot");
  src: url("../fonts/exljbris_-_museosans-500italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris_-_museosans-500italic-webfont.woff") format("woff"), url("../fonts/exljbris_-_museosans-500italic-webfont.ttf") format("truetype"), url("../fonts/exljbris_-_museosans-500italic-webfont.svg#museo_sans500_italic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/exljbris_-_museosans-700-webfont.eot");
  src: url("../fonts/exljbris_-_museosans-700-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris_-_museosans-700-webfont.woff") format("woff"), url("../fonts/exljbris_-_museosans-700-webfont.ttf") format("truetype"), url("../fonts/exljbris_-_museosans-700-webfont.svg#museo_sans700") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/exljbris_-_museosans-700italic-webfont.eot");
  src: url("../fonts/exljbris_-_museosans-700italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris_-_museosans-700italic-webfont.woff") format("woff"), url("../fonts/exljbris_-_museosans-700italic-webfont.ttf") format("truetype"), url("../fonts/exljbris_-_museosans-700italic-webfont.svg#museo_sans700_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/exljbris_-_museosans-900-webfont.eot");
  src: url("../fonts/exljbris_-_museosans-900-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris_-_museosans-900-webfont.woff") format("woff"), url("../fonts/exljbris_-_museosans-900-webfont.ttf") format("truetype"), url("../fonts/exljbris_-_museosans-900-webfont.svg#museo_sans900") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/exljbris_-_museosans-900italic-webfont.eot");
  src: url("../fonts/exljbris_-_museosans-900italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris_-_museosans-900italic-webfont.woff") format("woff"), url("../fonts/exljbris_-_museosans-900italic-webfont.ttf") format("truetype"), url("../fonts/exljbris_-_museosans-900italic-webfont.svg#museo_sans900_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

/* line 11, imports/_font-size.scss */
.border-radius-xx-small {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 11, imports/_font-size.scss */
.border-radius-x-small {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 11, imports/_font-size.scss */
.border-radius-small {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 11, imports/_font-size.scss */
.border-radius-medium {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 11, imports/_font-size.scss */
.border-radius-x-medium {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 11, imports/_font-size.scss */
.border-radius-large {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}

/* line 11, imports/_font-size.scss */
.border-radius-x-large, .button-cta {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
}

/* line 27, imports/_font-size.scss */
.text-xx-small {
  font-size: 10px;
}

/* line 27, imports/_font-size.scss */
.text-x-small, h6, [action="login_check"] label[for="remember_me"] {
  font-size: 12px;
}

/* line 27, imports/_font-size.scss */
.text-small, h5, .button-tertiary, #copyright-footer, .qv-form label, .form-error {
  font-size: 14px;
}

/* line 27, imports/_font-size.scss */
.text-medium, p, ul, ol, h4, .button-primary, [action="login_check"] input, [action="login_check"] label, [action="login_check"] a, .landing-page .linkout, .qv-form input, .qv-form textarea, .qv-slider .qv-slider-link {
  font-size: 16px;
}

/* line 27, imports/_font-size.scss */
.text-x-medium, h3, .button-primary, .button-secondary, [action="login_check"] #_submit, .landing-page .email-footer input, .qv-table th, .qv-table td {
  font-size: 18px;
}

/* line 27, imports/_font-size.scss */
.text-large, h2 {
  font-size: 20px;
}

/* line 27, imports/_font-size.scss */
.text-x-large, h1 {
  font-size: 40px;
}

/* line 33, imports/_font-size.scss */
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 11, imports/_border.scss */
.border-radius-xx-small {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 11, imports/_border.scss */
.border-radius-x-small {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 11, imports/_border.scss */
.border-radius-small {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 11, imports/_border.scss */
.border-radius-medium {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 11, imports/_border.scss */
.border-radius-x-medium {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 11, imports/_border.scss */
.border-radius-large {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}

/* line 11, imports/_border.scss */
.border-radius-x-large, .button-cta {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
}

/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     01/14/13
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/*
 * Retina Backgrounds for Compass
 * by:              Gaya Kessler
 * last update:     01/14/13
 *
 * Usage:
 * 1. create background image for pixel ratio 1 screens and put it somewhere in your images folder.
 * 2. create background image for pixel ratio 2 screens and put it somewhere in your images folder.
 * 3. include the background-image property in your Sass/Scss using: '@include background-retina(<ratio-1-imagefile>, <ratio-2-imagefile>)'
 */
/* line 16, imports/_sprites.scss */
.background-background {
  background-image: url('../images/icons-sdd7bf00789.png');
  background-position: 0 -323px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 216px;
  width: 200px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 16, imports/_sprites.scss */
  .background-background {
    background-image: url('../images/icons-2x-se16d260f17.png');
    background-size: 765px 559.5px;
    background-position: 0 -323px;
    height: 216px;
    width: 200px;
  }
}

/* line 16, imports/_sprites.scss */
.background-background-gray {
  background-image: url('../images/icons-sdd7bf00789.png');
  background-position: -200px -323px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 216px;
  width: 200px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 16, imports/_sprites.scss */
  .background-background-gray {
    background-image: url('../images/icons-2x-se16d260f17.png');
    background-size: 765px 559.5px;
    background-position: -200px -323px;
    height: 216px;
    width: 200px;
  }
}

/* line 16, imports/_sprites.scss */
.background-beginner {
  background-image: url('../images/icons-sdd7bf00789.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 28px;
  width: 123px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 16, imports/_sprites.scss */
  .background-beginner {
    background-image: url('../images/icons-2x-se16d260f17.png');
    background-size: 765px 559.5px;
    background-position: 0 0;
    height: 28px;
    width: 122.5px;
  }
}

/* line 16, imports/_sprites.scss */
.background-how-does-it-work {
  background-image: url('../images/icons-sdd7bf00789.png');
  background-position: -400px -323px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 237px;
  width: 336px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 16, imports/_sprites.scss */
  .background-how-does-it-work {
    background-image: url('../images/icons-2x-se16d260f17.png');
    background-size: 765px 559.5px;
    background-position: -400px -323px;
    height: 237px;
    width: 335.5px;
  }
}

/* line 16, imports/_sprites.scss */
.background-islc-logo {
  background-image: url('../images/icons-sdd7bf00789.png');
  background-position: -385px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 111px;
  width: 315px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 16, imports/_sprites.scss */
  .background-islc-logo {
    background-image: url('../images/icons-2x-se16d260f17.png');
    background-size: 765px 559.5px;
    background-position: -384px 0;
    height: 110.5px;
    width: 314.5px;
  }
}

/* line 16, imports/_sprites.scss */
.background-learn-your-way {
  background-image: url('../images/icons-sdd7bf00789.png');
  background-position: -519px -111px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 28px;
  width: 191px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 16, imports/_sprites.scss */
  .background-learn-your-way {
    background-image: url('../images/icons-2x-se16d260f17.png');
    background-size: 765px 559.5px;
    background-position: -519px -111px;
    height: 27.5px;
    width: 191px;
  }
}

/* line 16, imports/_sprites.scss */
.background-left-arrow-circle {
  background-image: url('../images/icons-sdd7bf00789.png');
  background-position: -335px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 16, imports/_sprites.scss */
  .background-left-arrow-circle {
    background-image: url('../images/icons-2x-se16d260f17.png');
    background-size: 765px 559.5px;
    background-position: -335px 0;
    height: 50px;
    width: 49.5px;
  }
}

/* line 16, imports/_sprites.scss */
.background-make-paper-sing {
  background-image: url('../images/icons-sdd7bf00789.png');
  background-position: 0 -163px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 160px;
  width: 765px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 16, imports/_sprites.scss */
  .background-make-paper-sing {
    background-image: url('../images/icons-2x-se16d260f17.png');
    background-size: 765px 559.5px;
    background-position: 0 -163px;
    height: 160px;
    width: 765px;
  }
}

/* line 16, imports/_sprites.scss */
.background-personal-feedback {
  background-image: url('../images/icons-sdd7bf00789.png');
  background-position: -123px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 29px;
  width: 212px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 16, imports/_sprites.scss */
  .background-personal-feedback {
    background-image: url('../images/icons-2x-se16d260f17.png');
    background-size: 765px 559.5px;
    background-position: -123px 0;
    height: 28.5px;
    width: 212px;
  }
}

/* line 16, imports/_sprites.scss */
.background-right-arrow-circle {
  background-image: url('../images/icons-sdd7bf00789.png');
  background-position: -710px -111px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 47px;
  width: 49px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 16, imports/_sprites.scss */
  .background-right-arrow-circle {
    background-image: url('../images/icons-2x-se16d260f17.png');
    background-size: 765px 559.5px;
    background-position: -710px -111px;
    height: 46.5px;
    width: 48.5px;
  }
}

/* line 16, imports/_sprites.scss */
.background-student-work {
  background-image: url('../images/icons-sdd7bf00789.png');
  background-position: 0 -111px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 52px;
  width: 519px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 16, imports/_sprites.scss */
  .background-student-work {
    background-image: url('../images/icons-2x-se16d260f17.png');
    background-size: 765px 559.5px;
    background-position: 0 -111px;
    height: 52px;
    width: 519px;
  }
}

/* line 15, imports/_colors.scss */
.background-green1, #top-nav:before, .qv-table th {
  background-color: #98ccb6;
}

/* line 15, imports/_colors.scss */
.background-green2 {
  background-color: #177f62;
}

/* line 15, imports/_colors.scss */
.background-gray1, .qv-form [required] {
  background-color: #f2f2f2;
}

/* line 15, imports/_colors.scss */
.background-gray2 {
  background-color: #dddddd;
}

/* line 15, imports/_colors.scss */
.background-gray3 {
  background-color: #414141;
}

/* line 15, imports/_colors.scss */
.background-red1 {
  background-color: #bd3f42;
}

/* line 15, imports/_colors.scss */
.background-gray {
  background-color: #333333;
}

/* line 15, imports/_colors.scss */
.background-white, #top-nav .islc-logo, .qv-slider .qv-slider-image {
  background-color: white;
}

/* line 15, imports/_colors.scss */
.background-black {
  background-color: black;
}

/* line 22, imports/_colors.scss */
.text-green1 {
  color: #98ccb6;
}

/* line 22, imports/_colors.scss */
.text-green2 {
  color: #177f62;
}

/* line 22, imports/_colors.scss */
.text-gray1 {
  color: #f2f2f2;
}

/* line 22, imports/_colors.scss */
.text-gray2 {
  color: #dddddd;
}

/* line 22, imports/_colors.scss */
.text-gray3, html, button, .pure-g-r [class*="pure-u"], a {
  color: #414141;
}

/* line 22, imports/_colors.scss */
.text-red1 {
  color: #bd3f42;
}

/* line 22, imports/_colors.scss */
.text-gray {
  color: #333333;
}

/* line 22, imports/_colors.scss */
.text-white, .button-cta, .button-primary, .button-secondary, [action="login_check"] #_submit, .button-tertiary {
  color: white;
}

/* line 22, imports/_colors.scss */
.text-black {
  color: black;
}

/* line 1, imports/_global.scss */
* {
  box-sizing: border-box;
}

/* line 5, imports/_global.scss */
html, button, .pure-g-r [class*="pure-u"] {
  font-family: 'Museo sans', helvetica, sans-serif;
}

/* line 10, imports/_global.scss */
a {
  text-decoration: none;
}

/* line 15, imports/_global.scss */
p, ul, ol {
  font-weight: 100;
}

/* line 20, imports/_global.scss */
.pure-g, .pure-g-r {
  letter-spacing: inherit;
  font-family: inherit;
}

/* line 25, imports/_global.scss */
.header, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: uppercase;
}

/* line 30, imports/_global.scss */
h1 {
  letter-spacing: 8px;
  font-weight: 300;
}

/* line 37, imports/_global.scss */
h2 {
  letter-spacing: 2px;
  font-weight: 300;
}

/* line 65, imports/_global.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 69, imports/_global.scss */
.relative {
  position: relative;
}

/* line 73, imports/_global.scss */
.centered {
  margin-left: auto;
  margin-right: auto;
}

/* line 78, imports/_global.scss */
.text-centered {
  text-align: center;
}

/* line 82, imports/_global.scss */
.pull-right {
  float: right;
}

/* line 86, imports/_global.scss */
.pull-left {
  float: left;
}

/* line 90, imports/_global.scss */
.align-right {
  text-align: right;
}

/* line 94, imports/_global.scss */
.align-left {
  text-align: left;
}

/* line 98, imports/_global.scss */
.bordered {
  border: 1px solid #f2f2f2;
}

/* line 102, imports/_global.scss */
.border-right {
  border-right: 1px solid #f2f2f2;
}

/* line 106, imports/_global.scss */
.no-margin {
  margin: 0;
}

/* line 110, imports/_global.scss */
.no-padding {
  padding: 0;
}

/* line 114, imports/_global.scss */
.full-width, .full-width-form, .qv-table {
  width: 100%;
}

/* line 118, imports/_global.scss */
.aligned-list {
  padding-left: 1em;
}

/* line 122, imports/_global.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 126, imports/_global.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 130, imports/_global.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 135, imports/_global.scss */
.background-repeating, .button-cta {
  background-image: url("../images/icons-2x/background.png");
  background-size: 765px 665px;
  background-position: 0 -50px;
}

/* line 142, imports/_global.scss */
.background-repeating-gray, .button-primary, .button-secondary, [action="login_check"] #_submit, .button-tertiary {
  background-image: url("../images/icons-2x/background-gray.png");
  background-position: -50px -30px;
}

/* line 147, imports/_global.scss */
.padded-wrapper {
  padding: 10px 20px;
}

@media (min-width: 980px) {
  /* line 3, imports/_media-queries.scss */
  .centered-desktop {
    margin-left: auto;
    margin-right: auto;
  }

  /* line 8, imports/_media-queries.scss */
  .pull-right-desktop {
    float: right;
  }

  /* line 12, imports/_media-queries.scss */
  .pull-left-desktop {
    float: left;
  }
}
@media (max-width: 767px) {
  /* line 24, imports/_media-queries.scss */
  .centered-phone, .centered-tablet {
    margin-left: auto;
    margin-right: auto;
  }

  /* line 29, imports/_media-queries.scss */
  .pull-right-phone, .pull-right-tablet {
    float: right;
  }

  /* line 33, imports/_media-queries.scss */
  .pull-left-phone, .pull-left-tablet {
    float: left;
  }

  /* line 37, imports/_media-queries.scss */
  .no-padding-phone, .no-padding-tablet {
    padding: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 44, imports/_media-queries.scss */
  .centered-tablet {
    margin-left: auto;
    margin-right: auto;
  }

  /* line 49, imports/_media-queries.scss */
  .pull-right-tablet {
    float: right;
  }

  /* line 53, imports/_media-queries.scss */
  .pull-left-tablet {
    float: left;
  }

  /* line 57, imports/_media-queries.scss */
  .no-padding-tablet {
    padding: 0 !important;
  }
}
/* line 1, imports/_animate.scss */
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

/* line 4, imports/_animate.scss */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 14, imports/_animate.scss */
.animated.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes bounce {
  /* line 23, imports/_animate.scss */
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }

  /* line 24, imports/_animate.scss */
  40% {
    -webkit-transform: translateY(-30px);
  }

  /* line 25, imports/_animate.scss */
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  /* line 29, imports/_animate.scss */
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }

  /* line 30, imports/_animate.scss */
  40% {
    -moz-transform: translateY(-30px);
  }

  /* line 31, imports/_animate.scss */
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  /* line 35, imports/_animate.scss */
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }

  /* line 36, imports/_animate.scss */
  40% {
    -o-transform: translateY(-30px);
  }

  /* line 37, imports/_animate.scss */
  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {
  /* line 40, imports/_animate.scss */
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  /* line 41, imports/_animate.scss */
  40% {
    transform: translateY(-30px);
  }

  /* line 42, imports/_animate.scss */
  60% {
    transform: translateY(-15px);
  }
}

/* line 45, imports/_animate.scss */
.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}

/* line 2, modules/_buttons.scss */
button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 7, modules/_buttons.scss */
.button-cta {
  -webkit-box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  box-shadow: 1px 1px 2px #333333;
  display: block;
  border: none;
  padding: 24px;
  text-transform: uppercase;
}

/* line 19, modules/_buttons.scss */
.button-primary {
  display: block;
  border: none;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

/* line 33, modules/_buttons.scss */
.button-secondary, [action="login_check"] #_submit {
  display: block;
  border: none;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
}

/* line 46, modules/_buttons.scss */
.button-tertiary {
  display: block;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
}

/* line 60, modules/_buttons.scss */
.button-link {
  cursor: pointer;
  text-decoration: underline;
}

/* line 1, modules/_nav.scss */
#top-nav {
  padding: 20px 0 32px;
  position: relative;
}
/* line 5, modules/_nav.scss */
#top-nav:before {
  content: "";
  display: block;
  position: relative;
  position: absolute;
  top: 67px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
}
/* line 13, modules/_nav.scss */
#top-nav .islc-logo {
  background-image: url('../images/icons-sdd7bf00789.png');
  background-position: -386px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 111px;
  width: 315px;
  float: right;
  position: relative;
  width: 313px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 13, modules/_nav.scss */
  #top-nav .islc-logo {
    background-image: url('../images/icons-2x-se16d260f17.png');
    background-size: 765px 559.5px;
    background-position: -385px 0;
    height: 110.5px;
    width: 314.5px;
  }
}
/* line 21, modules/_nav.scss */
#top-nav .nav-link-item {
  cursor: pointer;
  float: right;
}
/* line 26, modules/_nav.scss */
#top-nav .nav-link {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 10px 20px;
  text-transform: uppercase;
}

@media (min-width: 1100px) {
  /* line 42, modules/_nav.scss */
  #nav-links {
    float: left;
  }
}
/* line 1, modules/_footer.scss */
#copyright-footer {
  border-top: 1px solid #177f62;
  font-weight: 200;
  margin-top: 15px;
  padding: 15px 0 45px;
  text-align: center;
}

/* line 9, modules/_login.scss */
[action="login_check"] div {
  height: 30px;
}
/* line 13, modules/_login.scss */
[action="login_check"] input, [action="login_check"] label, [action="login_check"] a {
  font-weight: 200;
}
/* line 22, modules/_login.scss */
[action="login_check"] #username, [action="login_check"] #password {
  margin-bottom: 5px;
  width: 150px;
}
/* line 27, modules/_login.scss */
[action="login_check"] #password {
  float: right;
}
/* line 31, modules/_login.scss */
[action="login_check"] #_submit {
  position: absolute;
  top: 77px;
  right: 15px;
  bottom: inherit;
  left: inherit;
  font-size: 12px;
  padding: 7px 10px;
}
/* line 38, modules/_login.scss */
[action="login_check"] br {
  display: none;
}
/* line 42, modules/_login.scss */
[action="login_check"] #reset-password {
  float: right;
}

/* line 3, modules/_landing-page.scss */
.landing-page .header, .landing-page h1, .landing-page h2, .landing-page h3, .landing-page h4, .landing-page h5, .landing-page h6 {
  margin: 0;
}
/* line 7, modules/_landing-page.scss */
.landing-page .single {
  margin: 40px 0;
  padding: 25px 0;
}
/* line 11, modules/_landing-page.scss */
.landing-page .single .button-cta {
  margin-top: 26px;
  margin_bottom: 26px;
}
/* line 16, modules/_landing-page.scss */
.landing-page .single p {
  line-height: 28px;
  max-width: 385px;
  padding-right: 50px;
}
/* line 24, modules/_landing-page.scss */
.landing-page .button-cta {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  min-width: 400px;
}
/* line 31, modules/_landing-page.scss */
.landing-page .background-make-paper-sing {
  margin: 50px auto;
}
/* line 35, modules/_landing-page.scss */
.landing-page .triple {
  border-width: 2px;
  margin-bottom: 47px;
  padding: 18px;
}
/* line 40, modules/_landing-page.scss */
.landing-page .triple p {
  margin: 17px;
  line-height: 24px;
}
/* line 46, modules/_landing-page.scss */
.landing-page .student-work {
  margin-bottom: 50px;
}
/* line 50, modules/_landing-page.scss */
.landing-page .background-student-work {
  margin-bottom: 25px;
}
/* line 54, modules/_landing-page.scss */
.landing-page .background-how-does-it-work {
  margin: 50px;
}
/* line 58, modules/_landing-page.scss */
.landing-page .bordered {
  border-width: 2px;
  margin: 0px;
  padding: 46px 46px 66px;
  position: relative;
  max-width: 700px;
  line-height: 24px;
}
/* line 66, modules/_landing-page.scss */
.landing-page .bordered .button-cta {
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: -30px;
  left: 50%;
  margin-left: -200px;
}
/* line 73, modules/_landing-page.scss */
.landing-page .email-footer {
  margin: 200px 0 36px;
}
/* line 76, modules/_landing-page.scss */
.landing-page .email-footer .email-footer-item {
  margin-bottom: 15px;
}
/* line 80, modules/_landing-page.scss */
.landing-page .email-footer p {
  max-width: 400px;
}
/* line 84, modules/_landing-page.scss */
.landing-page .email-footer .centered {
  display: block;
}
/* line 88, modules/_landing-page.scss */
.landing-page .email-footer input {
  width: 85%;
  text-transform: uppercase;
  border: 2px solid #414141;
  border-radius: 0;
  padding: 8px;
  letter-spacing: 4px;
  font-size: 18px;
}
/* line 20, imports/_mixins.scss */
.landing-page .email-footer input::-moz-placeholder {
  color: #dddddd;
}
/* line 21, imports/_mixins.scss */
.landing-page .email-footer input::-webkit-input-placeholder {
  color: #dddddd;
}
/* line 22, imports/_mixins.scss */
.landing-page .email-footer input:-ms-input-placeholder {
  color: #dddddd;
}
/* line 102, modules/_landing-page.scss */
.landing-page .linkout {
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px;
}

/* line 20, imports/_mixins.scss */
.qv-form [required]::-moz-placeholder {
  color: #333333;
}
/* line 21, imports/_mixins.scss */
.qv-form [required]::-webkit-input-placeholder {
  color: #333333;
}
/* line 22, imports/_mixins.scss */
.qv-form [required]:-ms-input-placeholder {
  color: #333333;
}
/* line 7, modules/_form.scss */
.qv-form .ng-invalid {
  border-color: #bd3f42;
}
/* line 11, modules/_form.scss */
.qv-form input, .qv-form textarea {
  border: 1px solid #414141;
  padding: 8px;
  letter-spacing: 1px;
  font-weight: 100;
}
/* line 20, imports/_mixins.scss */
.qv-form input::-moz-placeholder, .qv-form textarea::-moz-placeholder {
  color: #dddddd;
}
/* line 21, imports/_mixins.scss */
.qv-form input::-webkit-input-placeholder, .qv-form textarea::-webkit-input-placeholder {
  color: #dddddd;
}
/* line 22, imports/_mixins.scss */
.qv-form input:-ms-input-placeholder, .qv-form textarea:-ms-input-placeholder {
  color: #dddddd;
}
/* line 20, modules/_form.scss */
.qv-form label {
  font-weight: 100;
}
/* line 25, modules/_form.scss */
.qv-form .inline-label {
  margin: 0 10px 5px 0;
}

/* line 32, modules/_form.scss */
.form-errors {
  padding: 10px 20px;
}
/* line 35, modules/_form.scss */
.form-errors .form-error {
  padding: 10px 0;
}

/* line 40, modules/_form.scss */
.form-error {
  color: #bd3f42 !important;
  padding: 14px 10px;
  text-transform: uppercase;
}
/* line 47, modules/_form.scss */
.form-error a {
  text-decoration: underline;
}

/* line 52, modules/_form.scss */
.full-width-form {
  max-width: 600px;
}
/* line 56, modules/_form.scss */
.full-width-form input {
  margin-bottom: 10px;
}
/* line 60, modules/_form.scss */
.full-width-form select {
  margin-bottom: 10px;
}
/* line 64, modules/_form.scss */
.full-width-form textarea {
  margin-bottom: 10px;
}

/* line 4, modules/_table.scss */
.qv-table th {
  border-bottom: 1px solid #414141;
  font-weight: 300;
  padding: 5px 10px;
  text-align: left;
  text-transform: uppercase;
}
/* line 15, modules/_table.scss */
.qv-table td {
  font-weight: 100;
  padding: 5px 10px;
}
/* line 23, modules/_table.scss */
.qv-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* line 28, modules/_table.scss */
.qv-table a {
  text-decoration: underline;
}

/* line 1, directives/_qv-slider.scss */
.qv-slider {
  position: relative;
  height: 350px;
}
/* line 7, directives/_qv-slider.scss */
.qv-slider:before {
  position: absolute;
  top: 0;
  right: inherit;
  bottom: 0;
  left: 0;
  content: '';
  width: 50px;
  z-index: 1;
}
/* line 15, directives/_qv-slider.scss */
.qv-slider:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: inherit;
  content: '';
  width: 50px;
  z-index: 1;
}
/* line 23, directives/_qv-slider.scss */
.qv-slider .qv-slider-list {
  position: absolute;
  top: 0;
  right: inherit;
  bottom: inherit;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-transition: margin 300ms ease;
  -moz-transition: margin 300ms ease;
  -ms-transition: margin 300ms ease;
  -o-transition: margin 300ms ease;
  transition: margin 300ms ease;
}
/* line 33, directives/_qv-slider.scss */
.qv-slider .qv-slider-list-item {
  display: inline;
  margin: 0 15px;
  position: relative;
}
/* line 40, directives/_qv-slider.scss */
.qv-slider .qv-slider-image {
  width: 350px;
  height: 350px;
}
/* line 46, directives/_qv-slider.scss */
.qv-slider .qv-slider-link {
  position: absolute;
  top: inherit;
  right: 4px;
  bottom: 4px;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  height: 43px;
  letter-spacing: 2px;
  padding: 14px;
  text-align: center;
  text-transform: uppercase;
}
/* line 59, directives/_qv-slider.scss */
.qv-slider .qv-slider-button {
  cursor: pointer;
  margin-top: -25px;
  z-index: 2;
}
/* line 66, directives/_qv-slider.scss */
.qv-slider .qv-slider-left-button {
  position: absolute;
  top: 50%;
  right: inherit;
  bottom: inherit;
  left: 20px;
}
/* line 70, directives/_qv-slider.scss */
.qv-slider .qv-slider-right-button {
  position: absolute;
  top: 50%;
  right: 20px;
  bottom: inherit;
  left: inherit;
}
