<div class="qv-slider">
    <div class="qv-slider-button qv-slider-left-button" ng-click="slide(389)" ng-hide="hideRight">
        <div class="background-left-arrow"></div>
    </div>
    <ul class="qv-slider-list">
        <li class="qv-slider-list-item" ng-repeat="image in images" itemscope itemtype="http://schema.org/CreativeWork">
            <meta itemprop="name" content="{{ image.text }}"/>

            <img class="qv-slider-image" ng-src="{{ image.src }}" alt="{{ image.text }}" itemprop="image"/>
            <a class="qv-slider-link" ng-href="{{ image.href }}" ng-show="image.href" rel="nofollow" target="_blank" itemprop="author">{{ image.text }}</a>
        </li>
    </ul>
    <div class="qv-slider-button qv-slider-right-button" ng-click="slide(-389)" ng-hide="hideLeft">
        <div class="background-right-arrow"></div>
    </div>
</div>
