button {
  &[disabled] {
    @include opacity(.3);
  }  
}

.button-cta {
  @extend .border-radius-x-large;
  @extend .text-white;
  @extend .background-repeating;
  @include single-box-shadow(getColor(gray), 1px, 1px, 2px);

  display: block;
  border: none;
  padding: 24px;
  text-transform: uppercase;
}

.button-primary {
  @extend .text-white;
  @extend .text-x-medium;
  @extend .background-repeating-gray;
  @extend .text-medium;

  display: block;
  border: none;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

.button-secondary {
  @extend .text-white;
  @extend .text-x-medium;
  @extend .background-repeating-gray;

  display: block;
  border: none;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
}

.button-tertiary {
  @extend .text-white;
  @extend .background-repeating-gray;
  @extend .text-small;

  display: block;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
}

.button-highlight {
  @extend .text-white;
  @extend .background-repeating-gray;

  font-size: 17px;
  display: block;
  border: none;
  padding: 20px 65px 15px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;


  &:after {
    @include absolute(8px, 8px, 8px, 8px);

    border: 1px solid getColor(white);
    content: "";
    display: block;

  }
}

.button-link {
  cursor: pointer;
  text-decoration: underline;

  &.active {
    font-weight: 500;
  }
}

.remove-button {
  @extend .circle;
  @extend .text-x-small;

  border: 1px solid getColor(gray3);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 2px 5px;
  text-align: center;
}