#cart {

  .table-width {
    td {
      padding-top: 14px;
      padding-bottom: 14px;
    }

  }

  .product-image {
    padding-right: 20px;
    width: 185px;

    img {
      min-height: 164px;
    }
  }

  .product-title-and-description {
    padding: inherit 10px;
  }

  .product-title {
    font-weight: 300;
    margin-bottom: 51px;
    text-transform: uppercase;
  }

  .product-price {
    display: inline-block;
    margin-right: 20px;
  }
  
  .product-quantity {
    width: 75px;
    margin-right: 20px;
  }

  .remove-button {
    @extend .circle;
    @extend .text-small;

    padding: 8px 12px;
    margin-left: 20px;
  }

  .sub-total {
    @extend .background-gray1;

    font-weight: 300;
    letter-spacing: 5px !important;
    margin: 20px 0;
    padding: 22px 0;
    text-transform: uppercase;
  }

  .margin-left {
    margin-left: 15px;
  }

}

.login-prompt {
  font-weight: 700;
  text-transform: uppercase;

  a {
    text-decoration: underline;
  }
}

.address-form {
  input, textarea {
    margin-bottom: 15px;
  }

  input {
    @extend .background-white;
  }

  input[required] {
    @extend .background-white;
  }
}

.card-form {
  @extend .background-gray1;

  padding: 30px;

  .title {
    margin-bottom: 26px;
  }

  .form-error {
    padding: 0;
  }

  input {
    background-color: getColor(white) !important;
  }
}

// Phone
@media (max-width: 767px) {
  #cart {

    .table-width {
      td {
        padding-right: 5px;
      }
    }

    .product-image {
      padding: 0px;
    }

    .product-price {
      margin-right: 5px;
    }

    .product-quantity {
      width: 45px;
      margin: 0;
    }

    .remove-button {
      margin-left: 0px;
    }

    .form-error {
      padding: 10px 0;
    }
    
    .button-secondary {
      width: 100% !important;
    }
  }

  #cvc {
    width: 100% !important;
  }
}