.landing-page {

  .header {
    margin: 0;
  }

  .single {
    margin: 40px 0;
    padding: 25px 0;

    .button-cta {
      margin-top: 26px;
      margin_bottom: 26px;
    }

    p {
      line-height: 28px;
      max-width: 395px;
      padding-left: 10px;
      padding-right: 50px;

    }
  }

  $button-cta-min-width: 0px;
  .button-cta {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    min-width: $button-cta-min-width;
  }

  .background-make-paper-sing {
    margin: 50px auto;
  }

  .triple {
    border-width: 2px;
    margin-bottom: 47px;
    padding: 18px;

    p {
      margin: 17px;
      line-height: 24px;
    }
  }

  .student-work {
    margin-bottom: 50px;
  }

  .background-student-work {
    margin-bottom: 25px;
  }

  .how-does-it-work-wrapper {
    min-width: 400px;
  }

  .background-how-does-it-work {
    margin: 50px;
  }

  .bordered {
    border-width: 2px;
    margin: 0px;
    padding: 46px 46px 66px;
    position: relative;
    max-width: 700px;
    line-height: 24px;

    .button-cta {
      @include absolute(inherit, inherit, -30px, 50%);
      margin-left: -117px;

    }
  }

  .email-footer {
    margin: 200px 0 36px;

    .email-footer-item {
     margin-bottom: 15px;
    }

    p {
      max-width: 400px;
    }

    .centered {
      display: block;
    }

    input {
      @extend .text-x-medium;
      width: 85%;
      text-transform: uppercase;
      border: 2px solid getColor(gray3);
      border-radius: 0;
      padding: 8px;
      letter-spacing: 4px;
      font-size: 18px;

      @include placeholder(getColor(gray2));
    }
  }

  .linkout {
    @extend .text-medium;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px;
  }

}