.landing-page {

  .header {
    margin: 0;
  }

  .landing-page-headline {
    margin: auto;
    letter-spacing: 0;
    line-height: 46px;
    text-transform: none;
    max-width: 700px;
    font-size: 30px;

    strong {
      @extend .text-x-large;

      text-transform: uppercase;
    }

    p {
      line-height: 28px;
      max-width: 395px;
      padding-left: 10px;
      padding-right: 50px;

    }
  }

  .single {
    margin: 40px 0;
    padding: 25px 15px;

    .button-cta {
      margin-top: 26px;
      margin_bottom: 26px;
    }

  }

  $button-cta-min-width: 0px;
  .button-cta {
    @include border-radius(4px);
    @include boxShadow(0, 0, 15px, 3px, getColor(gray4));

    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    min-width: $button-cta-min-width;

    &:after {
      visibility: hidden;
    }

    &:hover {
      @include boxShadow(0, 0, 20px, 3px, getColor(gray4));

      &:after {
        visibility: visible;
      }
    }
  }

  .background-make-paper-sing {
    margin: 50px auto;
  }

  .triple {
    border-width: 2px;
    margin-bottom: 47px;
    padding: 18px;

    p {
      margin: 17px;
      line-height: 24px;
    }
  }

  .student-work {
    margin-bottom: 50px;
  }

  .background-student-work {
    margin-bottom: 25px;
  }

  .headshot {
    float: right;
    margin-right: 15px;
    max-width: 150px;
  }

  .testimonial-images {
    img:first-child {
      margin-right: 30px;
    }
  }

  .testimonial-image {
    width: 333px;
    margin: 15px auto;
  }

  hr {
    border: 1px solid getColor(gray0);
    margin: 15px auto;
  }

  .video-wrapper {
    margin-top: 0 !important;
  }

  .how-does-it-work-wrapper {
    min-width: 400px;
  }

  .background-how-does-it-work {
    margin: 50px;
  }

  .bordered {
    border-width: 2px;
    margin: 0px;
    padding: 46px 46px 66px;
    position: relative;
    max-width: 700px;
    line-height: 24px;

    .button-cta {
      @include absolute(inherit, inherit, -30px, 50%);
      margin-left: -156px;

    }
  }

  .about-wrapper {
    margin-top: 60px;

    .about-image-wrapper {
      min-width: 202px;
    }

    .background-me {
      margin: 15px 30px 0px;
    }

    .background-about {
      margin: 0 30px 1px;
    }

    h3 {
      letter-spacing: 5px;
      font-size: 20px;
      margin: 0 30px 30px;
    }

    a {
      text-decoration: underline;
    }
  }

  .email-footer {
    margin: 30px 0 36px;

    .email-footer-item {
      margin-bottom: 15px;
      padding-left: 15px;
    }

    p {
      max-width: 400px;
    }

    .centered {
      display: block;
    }

    input {
      @extend .text-x-medium;
      width: 85%;
      text-transform: uppercase;
      border: 2px solid getColor(gray3);
      border-radius: 0;
      padding: 8px;
      letter-spacing: 4px;
      font-size: 18px;

      @include placeholder(getColor(gray2));
    }
  }

  .linkout {
    @extend .text-medium;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px;
  }

  .max-paragraph {
    display: block;
    margin: 15px auto;
    max-width: 395px;
  }

}

.root-a {

}

.root-b {
  .single {
    .original-paragraph {
      line-height: 28px;
      max-width: 395px;
      padding-left: 10px;
      padding-right: 50px;
    }

  }

  .testimonials-wrapper {
    @extend .text-centered;

    .testimonials-columns-wrapper {
      @extend .text-left;

      max-width: 700px;
    }

    .border-right {
      border-right: 2px solid getColor(gray0);
    }

    p {
      padding: 0;
    }

    a {
      color: getColor(green2);
    }

  }
}

@media (max-width: 730px) {
  .testimonial-image {
    display: block;
    margin: 15px auto !important;
  }
}