#top-nav {
  padding: 20px 0 32px;
  position: relative;

  &:before {
    @include before();
    @include absolute(67px, 0, 0, 0);
    @extend .background-green1;
    height: 2px;

  }

  .islc-logo {
    @include use-sprite(islc-logo);
    @extend .background-white;

    float: right;
    margin-top: 3px;
    position: relative;

  }

  .nav-link-item {
    cursor: pointer;
    float: right;
  }

  .nav-link {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 20px;
    text-transform: uppercase;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  #top-nav {
    .islc-logo {
      @include use-sprite(islc-logo);


      width: 311px;
      height: 107px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1100px) {

}

@media (min-width: 1100px) {
  #nav-links {
    float: left;
  }
}