// Products Page
@media (min-width: 705px) and (max-width: 1030px) {
  .products-wrapper {
    max-width: 660px !important;
  }
}

@media (min-width: 980px) and (max-width: 1030px) {
  //.products-wrapper {
  //  .product {
  //    min-width: 303px !important;
  //  }
  //}

}

@media (max-width: 704px) {
  .products-wrapper {
    max-width: 330px !important;
  }
}

.products-wrapper {
  max-width: 1080px;

  .product {
    cursor: pointer;
    display: inline-block;
    min-height: 358px;
    padding: 0 15px 12px;
    position: relative;
    min-width: 330px;
    max-height: 346px;
    overflow: hidden;



    &:hover {
      .product-title {
        font-weight: 700 !important;
      }
    }
  }

  @mixin product-image-wrapper($sprite) {
    .product-image-wrapper {
      &:before {
        @include use-sprite($sprite);
      }
    }
  }

  .product-workshop, .product-subscription {
    @include product-image-wrapper(workshop);
  }

  .product-physical {
    @include product-image-wrapper(product);
  }

  .product-digital, .product-download {
    @include product-image-wrapper(download);
  }

  .product-gift {
    @include product-image-wrapper(gift);
  }

  .product-image-wrapper {
    position: relative;
    width: 300px;
    height: 300px;

    &:before {
      @include absolute(9px, 12px, inherit, inherit);

      content: "";
      display: block;
      z-index: 1;
    }

    &:after {
      @include use-sprite(corner);
      @include absolute(0px, 0px, inherit, inherit);

      content: "";
      display: block;

    }

    .product-hidden-button {
      @include absolute(inherit, inherit, 0px, inherit);


      background: rgba(0, 0, 0, 0.6);
      font-size: 13px;
      max-width: 300px;
      padding: 13px 79px 11px;
      visibility: hidden;
      white-space: nowrap;

      &:hover {
        @extend .background-black;
      }

    }

    &:hover {
      .product-hidden-button {
        visibility: visible;
      }
    }
  }

  .product-image {
    @extend .background-gray1;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;

    width: 300px;
    height: 300px;
  }

  .product-details { // This whole class is just to make Firefox happy. Their box model sucks.
    display: block;
    overflow: hidden;
    width: 300px;
  }

  .product-title {
    @extend .text-small;

    display: inline-block;
    font-weight: 200;
    float: left;
    letter-spacing: 2px;
    line-height: 17px;
    margin-top: 9px;
    max-width: 245px;
    text-transform: uppercase;
  }

  .product-price {
    display: inline-block;
    float: right;
    font-weight: 700;
    margin-top: 9px;
  }
}

.product-wrapper {
  max-width: 990px;

  .product-images {
    float: right;
    max-width: 580px;
  }

  .product-details {
    padding: 0 15px;
  }

  .product-image {
    cursor: pointer;
    width: 163px;
    margin: 0 15px 25px;

    &:first-of-type {
      cursor: default;
      width: 100%;
      padding-right: 30px;
      padding-left: 1px;
    }
  }
}


// Product Page
.product-details {

  .product-meta {
    margin: auto;
    max-width: 300px;

  }

  .product-title {
    @extend .text-medium;
    font-weight: 200;
    max-width: 265px;
    text-transform: uppercase;
  }
  
  .product-price {
    font-weight: 700;
  }

  .button-highlight {
    margin: 27px auto 28px;
    position: relative;

  }

  .product-description {
    line-height: 19px;

    a {
      @extend .button-link;
    }
  }

  li {
    text-indent: -14px;
    padding-left: 14px;
  }

}