.qv-table {
  @extend .full-width;

  th {
    @extend .text-x-medium;
    @extend .background-green1;

    border-bottom: 1px solid getColor(gray3);
    font-weight: 300;
    padding: 5px 10px;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    @extend .text-x-medium;

    font-weight: 100;
    padding: 5px 10px;
  }

  tr {
    &:nth-child(even) {
      background-color: getColor(gray1);
    }
  }

  a {
    text-decoration: underline;
  }
}

.table-width {
  width: 960px;

  .thead-bar {
    position: relative;
    min-height: 30px;
    height: 100%;
    padding: 6px 0 ;

    &:before {
      @extend .background-gray1;
      @include absolute(0, -5000px, 0, -5000px);

      content: "";
      display: block;
      z-index: -1;
    }
  }

  th {
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    padding-top: 28px;
    vertical-align: top;
  }

}