<div class="pure-g-r account-management">
    <div class="pure-u-1">
        <h1 class="header centered">It's your account.</h1>
    </div>

    <div class="pure-u-1 pure-g-r background-gray1 single">
        <div class="pure-u-1-2">
            <p class="pull-right-desktop centered-tablet no-padding-phone single-text text-x-medium">
                Preserve the art of calligraphy. Make paper beautiful with a modern twist on a 6th century art.
            </p>
        </div>
        <div class="pure-u-1-2">
            <button class="button-cta centered-phone" ng-click="convert('online-calligraphy-course')">learn calligraphy today</button>
        </div>
    </div>

    <div class="pure-u-1 pure-g-r">
        <h2>User Details</h2>
        <form action="">
            <span pure-u-2-5>
                <label for="account-email">Your email</label>
                <input id="account-email" type="email"/>
            </span>

        </form>
    </div>


</div>