<div class="pure-g-r account-management padded-wrapper">


    <!--User Form-->

    <div id="user-form" class="pure-u-1 pure-g-r">

        <form class="qv-form full-width-form centered" name="userForm" action="">
            <h3 class="clearfix text-green2">Your account.</h3>
            <div class="clearfix form-errors">
                <!--<span class="form-error" ng-show="userForm.serverError">{{ userForm.serverError }}</span>-->
            </div>
            <div class="clearfix pure-g-r">
                <input
                    id="user-email"
                    class="pure-u-2-5 pull-left"
                    name="email"
                    type="email"
                    placeholder="Email..."
                    ng-model="user.email"
                    qv-focus
                />
                <div class="form-error pure-u-3-5" ng-show="userForm.email.$invalid && userForm.email.$dirty">That email looks invalid</div>
            </div>
            <div class="clearfix pure-g-r">
                <input
                    id="user-new-password"
                    class="pure-u-2-5 pull-left"
                    name="password"
                    type="password"
                    placeholder="New password..."
                    ng-model="user.password"
                    ng-minlength="3"
                />
                <div class="form-error pure-u-3-5" ng-show="userForm.password.$error.minlength">Your password is too short</div>
            </div>
            <div class="clearfix pure-g-r">
                <input
                    id="user-verification"
                    class="pure-u-2-5 pull-left"
                    name="verification"
                    type="password"
                    placeholder="Verify new password..."
                    ng-model="user.verification"
                    ng-minlength='3'
                    qv-password-verify="user.password"
                    password-verification="user.verification"
                    form-verification="userForm.verification"
                />
                <div class="form-error pure-u-3-5" ng-show="userForm.verification.$error.required">Please confirm your password</div>
                <div class="form-error pure-u-3-5" ng-show="userForm.verification.$error.verify">Verification does not match</div>
            </div>
            <div class="clearfix pure-g-r">
                <div class="pure-u-2-5">
                    <label class="inline-label pull-left" for="user-comment-email">Comment Notification Email</label>
                    <input
                        id="user-comment-email"
                        class="pull-left"
                        name="commentEmail"
                        ng-model="user.comment_email"
                        type="checkbox"
                    />
                </div>

            </div>
            <div class="clearfix pure-g-r">
                <input
                    id="user-current-password"
                    class="pure-u-2-5 pull-left"
                    name="oldpassword"
                    type="password"
                    placeholder="Current password..."
                    ng-model="user.oldpassword"
                    ng-required="true"
                />
                <div class="form-error pure-u-3-5" ng-show="userForm.oldpassword.serverError">
                    Wrong password... <a ui-sref="reset">reset it</a>?
                </div>
            </div>
            <div class="clearfix pure-g-r">
                <div class="pure-u-1-5">
                    <button
                        class="button-primary full-width"
                        ng-click="saveUser(user)"
                        ng-disabled="userForm.$invalid"
                        qv-flash="user"
                        flash-message="saving..."
                        flash-duration="3000"
                        style="min-width: 180px;"
                    >
                        Save
                    </button>
                </div>
            </div>
            <br>
            <br>

        </form>
    </div>



    <!--Address Form-->
    <div id="address-form" class="pure-u-1 pure-g-r">

        <form class="qv-form full-width-form centered" name="addressForm" action="">
            <h3 class="clearfix text-green2">Your address.</h3>
            <div class="clearfix form-errors">
                <span class="form-error" ng-show="addressForm.serverError">{{ addressForm.serverError }}</span>
            </div>
            <div class="clearfix pure-g-r">
                <input
                    id="address-first"
                    class="pure-u-2-5 pull-left"
                    name="first"
                    type="text"
                    placeholder="First name..."
                    ng-model="address.first"
                    ng-required="true"
                />
                <div class="form-error pure-u-3-5" ng-show="addressForm.first.$error.required">You'll need a first name</div>
            </div>
            <div class="clearfix pure-g-r">
                <input
                        id="address-last"
                        class="pure-u-2-5 pull-left"
                        name="last"
                        type="text"
                        placeholder="Last name..."
                        ng-model="address.last"
                        ng-required="true"
                        />
                <div class="form-error pure-u-3-5" ng-show="addressForm.last.$error.required">You'll need a last name</div>
            </div>
            <div class="clearfix pure-g-r">
                <input
                    id="address-line1"
                    class="pure-u-2-5 pull-left"
                    name="line1"
                    type="text"
                    placeholder="Street address..."
                    ng-model="address.line1"
                />
            </div>
            <div class="clearfix pure-g-r">
                <input
                    id="address-line2"
                    class="pure-u-2-5 pull-left"
                    name="line2"
                    type="text"
                    placeholder="Address line 2..."
                    ng-model="address.line2"
                />
            </div>
            <div class="clearfix pure-g-r">
                <input
                    id="address-line3"
                    class="pure-u-2-5 pull-left"
                    name="line3"
                    type="text"
                    placeholder="Address line 3..."
                    ng-model="address.line3"
                />
            </div>
            <div class="clearfix pure-g-r">
                <input
                    id="address-city"
                    class="pure-u-2-5 pull-left"
                    name="city"
                    type="text"
                    placeholder="City..."
                    ng-model="address.city"
                />
            </div>
            <div class="clearfix pure-g-r">
                <input
                    id="address-state"
                    class="pure-u-2-5 pull-left"
                    name="state"
                    type="text"
                    placeholder="State..."
                    ng-model="address.state"
                />
            </div>
            <div class="clearfix pure-g-r">
                <input
                    id="address-code"
                    class="pure-u-2-5 pull-left"
                    name="code"
                    type="text"
                    placeholder="Postal Code..."
                    ng-model="address.code"
                />
            </div>
            <div class="clearfix pure-g-r">
                <input
                    id="address-country"
                    class="pure-u-2-5 pull-left"
                    name="country"
                    type="text"
                    placeholder="Country..."
                    ng-model="address.country"
                />
            </div>
            <div class="clearfix pure-g-r">
                <textarea
                    id="address-instructions"
                    class="pure-u-2-5 pull-left"
                    name="instructions"
                    placeholder="Instructions..."
                    ng-model="address.instructions"
                /></textarea>
            </div>


            <div class="clearfix pure-g-r">
                <div class="pure-u-1-5">
                    <button
                        class="button-primary full-width"
                        ng-click="saveAddress(address)"
                        ng-disabled="addressForm.$invalid"
                        qv-flash="address"
                        flash-message="saving..."
                        flash-duration="3000"
                        style="min-width: 180px;"
                    >
                        Save
                    </button>
                </div>
            </div>
            <br>
            <br>

        </form>
    </div>

    <div class="pure-u-1 pure-g-r">
        <div class="clearfix pure-u-3-5 full-width-form centered">
            <h3 class="clearfix text-green2">Your transactions.</h3>
            <br>
            <div qv-table="transactionsTable"></div>
        </div>
    </div>


</div>