<div id='empty-cart' ng-hide="cart.products.length">
    <h1 class="text-centered">Your cart is empty</h1>

    <br>
    <br>
    <h2 class="text-centered">
        Check out our <a class="button-link" ui-sref="products({category: 'workshop'})">workshops</a>, <a class="button-link" ui-sref="products({category: 'digital'})">downloads</a> and <a class="button-link" ui-sref="products({category: 'physical'})">goodies</a>!
    </h2>
    <a ui-sref="products"></a>
</div>

<div id="cart" ng-show="cart.products.length">
    <h2 class="thick text-centered">your cart</h2>

    <div class="pure-g-r padded-wrapper" >

        <div id="cart-form" class="pure-u-1">

            <form class="qv-form" name="cartForm" action="">
                <table class="table-width centered">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <div class="thead-bar">product & description</div>
                            </th>
                            <th>price</th>
                            <th>qty</th>
                            <th>total</th>
                            <th>
                                <div class="thead-bar"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="'product-row-' + $index" ng-repeat="product in cart.products">
                            <td class="product-image">
                                <a class="visible-tablet" ui-sref="product({slug: product.slug})">
                                    <img ng-src="{{ product.key_image }}" alt="{{ product.title }}"/>
                                </a>
                            </td>
                            <td class="product-title-and-description">
                                <a class="product-title button-link" ui-sref="product({slug: product.slug})">{{ product.title }}</a>
                                <div class="product-description">
                                    <markdown class="visible-tablet" ng-model="product.description" line-breaks="true" strip="true" qv-truncate="195"></markdown>
                                </div>
                            </td>
                            <td class="product-price">
                                {{ product.price | currency }}
                            </td>
                            <td class="product-quantity">
                                <input
                                        class="full-width product-quantity"
                                        name="{{ product.title | slug }}-quantity"
                                        type="number"
                                        placeholder="Quantity..."
                                        ng-model="product.quantity"
                                        ng-change="updateCartProduct(product)"
                                        min="1"
                                        ng-required="true"
                                        />
                            </td>
                            <td class="product-total">
                                {{ product.quantity * product.price | currency}}
                            </td>
                            <td class="product-actions">
                                <a class="remove-button" ng-click="updateCart(product.id, 0)" qv-disable=".product-row-{{ $index }}">X</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>

                        <tr ng-show="cart.discount">
                            <td class="sub-total text-centered" colspan="2">
                                Discount Code: {{ cart.discount.code }}
                            </td>
                            <td class="sub-total text-centered" colspan="2">
                                <span ng-show="cart.discount.value">{{ cart.discount.value | currency }} Discount</span>
                                <span ng-show="cart.discount.percent">{{ cart.discount.percent | percentage }} Discount</span>
                            </td>
                            <td class="sub-total" colspan="2">
                                {{ cart.discountDollars | currency}}
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                            <td class="sub-total text-centered" colspan="2">Total:</td>
                            <td class="sub-total" colspan="2">{{ cart.total | currency }}</td>
                        </tr>

                        <tr>
                            <td colspan="6" style="padding-right: 0;">

                                <div ng-show="user">
                                    <div class="table-cell">
                                        <button
                                            class="button-tertiary pull-right margin-left"
                                            ng-click="setCode(cart.code)"
                                            ng-disabled="!cartForm.discountCode.$modelValue"
                                            qv-flash="cart"
                                            flash-duration="3000"
                                        >Add</button>
                                    </div>

                                    <div class="table-cell span-10">
                                        <input
                                            class="pull-right"
                                            name="discountCode"
                                            type="text"
                                            ng-model="cart.code"
                                            placeholder="Discount code..."
                                        />
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>

        </div>
    </div>

    <div class="pure-u-1 login-prompt text-centered" ng-hide="user.username">
        <br>
        <a ui-sref="login({redirect: 'cart'})">log in</a> or <a ui-sref="register({redirect: 'cart'})">register</a> to check out
    </div>
    <!--Address-->


    <div class="pure-u-1 address-form background-gray1 padded-wrapper" name="addressForm" ng-show="shipped && user.username">
        <div class="title">
            <br>
            <h2 class="text-centered">shipping address</h2>
            <br>
        </div>
        <div>
            <form class="qv-form address-form max-500 centered pure-g-r" name="addressForm" action="" ng-show="cart.total">
                <div class="pure-u-1-2 pure-g-r">
                    <input class="pure-u-7-8" type="text" ng-model="address.first" placeholder="First name..." ng-required="true"/>
                </div>
                <div class="pure-u-1-2 pure-g-r">
                    <input class="pure-u-1" type="text" ng-model="address.last" placeholder="Last name..." ng-required="true"/>
                </div>
                <div class="pure-u-1-2 pure-g-r">
                    <input class="pure-u-7-8" type="text" ng-model="address.phone" placeholder="Phone number..."/>
                </div>
                <div class="pure-u-1">
                    <input class="span-10" type="text" ng-model="address.line1" placeholder="Street address..." ng-required="true"/>
                </div>
                <div class="pure-u-1">
                    <input class="span-10" type="text" ng-model="address.line2" placeholder="Street line 2..."/>
                </div>
                <div class="pure-u-1">
                    <input class="span-10" type="text" ng-model="address.line3" placeholder="Street line 3..."/>
                </div>
                <div class="pure-u-1-3 pure-g-r">
                    <input class="pure-u-7-8" type="text" ng-model="address.city" placeholder="City..." ng-required="true"/>
                </div>
                <div class="pure-u-1-3">
                    <input class="pure-u-7-8" type="text" ng-model="address.state" placeholder="State..." ng-required="true"/>
                </div>
                <div class="pure-u-1-3">
                    <input class="pure-u-1" type="text" ng-model="address.code" placeholder="Code..." ng-required="true"/>
                </div>
                <div class="pure-u-1-2 pure-g-r">
                    <input class="pure-u-7-8" type="text" ng-model="address.country" placeholder="Country..."/>
                </div>
                <div class="pure-u-1">
                    <textarea class="span-10" ng-model="address.instructions" placeholder="Shipping instructions..."></textarea>
                </div>
                <div class="pure-u-1-2 pure-g-r">
                    <button
                        class="button-secondary pure-u-7-8"
                        ng-click="updateAddress(address)"
                        ng-disabled="addressForm.$invalid || $addressForm.$pristine"
                        qv-flash="address"
                        flash-message="saving..."
                        flash-duration="3000"
                    >Save Address</button>
                </div>

            </form>
        </div>

        <br>

    </div>




    <div ng-show="user && token && cart.total">
        <br>
        <br>
        <h2 class="thick text-centered">your card</h2>
    </div>
    <div class="pure-g-r card padded-wrapper" ng-show="user">
        <div class="pure-u-1 card-details">
            <table class="table-width centered" ng-show="token && cart.total">
                <thead>
                <tr>
                    <th>cart number</th>
                    <th>card type</th>
                    <th>
                        <div class="thead-bar">expiration month</div>
                    </th>
                    <th>expiration year</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> *****{{ token.card.last4 }}</td>
                    <td>{{ token.card.type }}</td>
                    <td>{{ token.card.exp_month }}</td>
                    <td>{{ token.card.exp_year }}</td>
                </tr>
                </tbody>
            </table>

            <br>
            <br>
            <br>
            <br>

            <form class="qv-form card-form full-width-form centered pure-g-r" name="checkoutForm" action="" ng-show="cart.total">
                <div class="pure-u-1 title">
                    <h2 class="text-centered" ng-hide="token">add card</h2>
                    <h2 class="text-centered" ng-show="token">change card</h2>
                </div>

                <div class="pure-u-3-5">
                    <input
                        class="span-10"
                        name="cardNumber"
                        type="text"
                        ng-model="newCard.number"
                        ng-change="validateCardNumber(newCard.number)"
                        placeholder="Card number..."
                        ng-required="true"
                    />
                </div>
                <div class="pure-u-2-5">
                    <input
                        id="cvc"
                        class="span-9 pull-right"
                        name="cvc"
                        type="text"
                        ng-model="newCard.cvc"
                        ng-change="validateCVC(newCard.cvc)"
                        placeholder="CVC Code..."
                        ng-required="true"
                        ng-minlength="3"
                        ng-maxlength="4"
                    />

                </div>

                <div class="pure-u-3-5">
                    <select class="pull-left" name="month" ng-model="newCard.exp_month" ng-options="months.indexOf(m) as m for m in months"></select>
                    <select class="pull-right" name="year" ng-model="newCard.exp_year" ng-options="year for year in years"></select>
                </div>

                <div class="pure-u-1"></div>

                <div class="pure-u-2-5">
                    <br>
                    <button
                        class="button-secondary span-9"
                        ng-click="saveCard(newCard)"
                        ng-disabled="checkoutForm.$invalid || checkoutForm.cardNumber.$invalid || checkoutForm.cvc.$invalid"
                        qv-flash="newCard"
                        flash-message="adding..."
                        flash-duration="4000"
                        style="min-width: 200px;"
                    > Add Card
                    </button>
                </div>
                <div class="pure-u-3-5">
                    <div class="form-error" ng-show="checkoutForm.cardNumber.$invalid && checkoutForm.cardNumber.$dirty">Invalid card number</div>
                    <div class="form-error" ng-show="checkoutForm.cvc.$invalid && checkoutForm.cvc.$dirty">Invalid security code</div>
                    <div class="form-error" ng-show="checkoutForm.invalidCard">Invalid card details</div>
                </div>

                <div class="pure-u-1">
                    <br>
                    <a href="https://stripe.com/" class="background-powered-by-stripe" rel="nofollow" target="_blank"></a>
                </div>


            </form>
        </div>

        <div class="pure-u-1 checkout" ng-show="user && token || !cart.total">
            <br>
            <br>
            <button
                id="checkout-button"
                class="button-highlight centered"
                ng-click="checkout()"
                ng-disabled="cart.total && (!cart || !token || cartForm.$invalid)"
                qv-flash="cart"
                flash-message="checking out..."
                flash-duration="10000"
                style="min-width: 405px;"
                qv-disable="#checkout-button"
            >
                Complete Checkout
            </button>
        </div>
    </div>

</div>
