<div class="pure-g-r cart padded-wrapper">

    <div id="cart-form" class="pure-u-1 pure-g-r">

        <form class="qv-form full-width-form centered" name="cartForm" action="">
            <h3 class="clearfix text-green2">Your cart.</h3>

            <ul id="cart-list">
                <li class="clearfix cart-list-item pure-g-r" ng-repeat="product in cart.products">
                    <div class="clearfix product-title pure-u-1">
                        <h3>{{ product.title }}</h3>
                    </div>

                    <div class="product-price pure-u-1-5">{{ product.price | currency }}</div>
                    <div class="pure-u-1-5">
                        <input
                            class="full-width product-quantity"
                            name="{{ product.title | slug }}-quantity"
                            type="number"
                            placeholder="Quantity..."
                            ng-model="product.quantity"
                            ng-change="updateCartProduct(product)"
                        />
                    </div>
                    <div  class="pure-u-3-5 product-actions">
                        <a class="button-link pull-right-desktop" ng-click="updateCart(product.id, 0)">Remove</a>
                    </div>
                </li>
            </ul>

        </form>


    </div>

    <div id="cart-details" class="pure-u-1 pure-g-r">
        <form class="qv-form full-width-form centered" name="checkoutForm" action="">
            <h3 class="clearfix text-green2">Cart Summary.</h3>

            <br>
            <table id="cart-summary" class="qv-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>price</th>
                        <th>quantity</th>
                        <th>total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cart-summary-item" ng-repeat="product in cart.products">
                        <td class="cart-summary-title">{{ product.title }}</td>
                        <td class="cart-summary-price">{{ product.price | currency }}</td>
                        <td class="cart-summary-quantity">{{ product.quantity }}</td>
                        <td class="cart-summary-total">{{ product.quantity * product.price | currency }}</td>
                    </tr>

                    <tr class="cart-summary-item" ng-show="cart.discount">
                        <td class="cart-summary-discount">
                            Discount Code: {{ cart.discount.code }}
                        </td>
                        <td colspan="2">
                            <span ng-show="cart.discount.value">{{ cart.discount.value | currency }} Discount</span>
                            <span ng-show="cart.discount.percent">{{ cart.discount.percent | percentage }} Discount</span>
                        </td>
                        <td class="cart-summary-total">{{ -1 * cart.discount.value - cart.total * cart.discount.percent | currency}}</td>
                    </tr>
                </tbody>

            </table>

            <br>
            <div class="pure-u-1 pure-g-r">

                <div class="pure-u-2-5">
                    <input
                        name="discountCode"
                        type="text"
                        ng-model="cart.code"
                        placeholder="Discount code..."
                    />
                </div>
                <div class="pure-u-2-5">
                    <button class="button-tertiary" ng-click="setCode(cart.code)" ng-disabled="!checkoutForm.discountCode.$modelValue">Add Code</button>
                </div>

            </div>

            <br>

            <div class="pure-u-1 pure-g-r" ng-show="user">
                <h3 class="clearfix text-green2">Your card.</h3>
                <br>

                <div class="pure-u-1 pure-g-r">
                    <div class="pure-u-2-5">
                        <input
                            name="cardNumber"
                            type="text"
                            ng-model="newCard.number"
                            ng-change="validateCardNumber(newCard.number)"
                            placeholder="Card number..."
                            ng-required="true"
                        />
                    </div>
                    <div class="form-error pure-u-3-5" ng-show="checkoutForm.cardNumber.$invalid && checkoutForm.cardNumber.$dirty">Invalid card number</div>
                </div>
                <div class="pure-u-1 pure-g-r">
                    <div class="pure-u-2-5">
                        <select name="month" ng-model="newCard.exp_month" ng-options="months.indexOf(m) as m for m in months"></select>
                    </div>
                    <div class="pure-u-2-5">
                        <select name="year" ng-model="newCard.exp_year" ng-options="year for year in years"></select>
                    </div>
                    <div class="pure-u-1-5">{{ newCard }}</div>

                </div>

                <div class="pure-u-1 pure-g-r">
                    <div class="pure-u-2-5">
                        <input
                            name="cvc"
                            type="text"
                            ng-model="newCard.cvc"
                            ng-change="validateCVC(newCard.cvc)"
                            placeholder="Security code..."
                            ng-required="true"
                            ng-minlength="3"
                            ng-maxlength="4"
                        />
                    </div>
                    <div class="form-error pure-u-3-5" ng-show="checkoutForm.cvc.$invalid && checkoutForm.cvc.$dirty">Invalid security code</div>
                </div>


                <div class="pure-u-1-5">
                    <button
                        class="button-secondary"
                        ng-click="saveCard(newCard)"
                        ng-disabled="checkoutForm.$invalid || checkoutForm.cardNumber.$invalid || checkoutForm.cvc.$invalid"
                    > Add Card
                    </button>
                    <div class="form-error pure-u-3-5" ng-show="checkoutForm.invalidCard">Invalid card details</div>
                </div>

            </div>

            <br>
            <div class="pure-u-1 pure-g-r">
                <div class="pure-u-1-5" ng-show="user">
                    <button class="button-cta" ng-click="checkout(cart)" ng-disabled="!card || !cart">Checkout</button>
                </div>
                <div class="pure-u-1" ng-hide="user">
                    <a class="button-link" ui-sref="login({redirect: 'cart'})">Login</a> or <a class="button-link" ui-sref="register({redirect: 'cart'})">Register</a> for checkout
                </div>
            </div>
        </form>
    </div>


</div>