<div id="dashboard" class="dashboard">
    <div class="column small-12 full-bleed">
        <h2 class="thick padded text-centered background-gray1">dashboard</h2>
    </div>

    <div ng-show="subscriptions.length">
        <div class="column small-12">
            <br>
            <h2 class="text-centered text-green2">subscriptions</h2>
            <br>
        </div>


        <div class="column small-12" ng-repeat="subscription in subscriptions">
            <div class="span-10 min-500 max-500 centered" ng-hide="expired(subscription)">
                <a class="button button-highlight text-centered" ui-sref="content.subscription({productSlug: subscription.product.slug})">go to {{ subscription.product.title }}</a>
                <br>

                <div class="clearfix">
                    <span class="pull-left" ng-show="subscription.reset">Days left: {{ subscription.expires | until:'days' }}</span>
                    <span class="pull-left" ng-hide="subscription.reset">Course Not Started</span>
                    <span class="pull-right" ng-show="subscription.reset">Expires: {{ subscription.expires | date }}</span>
                </div>
            </div>

            <div class="span-10 min-500 max-500 centered text-centered" ng-show="expired(subscription)">
                Expired: <a class="button-link" ui-sref="product({slug: subscription.product.slug})">{{ subscription.product.title }}</a>
            </div>

            <br>
            <br>

        </div>

        <div class="column small-12" >
            <div class="min-500 max-500 centered">

                <a ng-show="$storage.lastPage" ng-click="goToLastPage()">
                    Most Recent Page
                    <span ng-show="$storage.lastPage.friendlyName">: {{ $storage.lastPage.friendlyName }}</span>
                </a>
                <br>
                <br>
                <a ng-show="$storage.bookmark" ng-click="goToBookmark()">
                    Bookmark
                    <span ng-show="$storage.bookmark.friendlyName">: {{ $storage.bookmark.friendlyName }}</span>
                </a>
            </div>

        </div>
    </div>

    <div class="column small-12 small-centered clearfix  max-500 centered" ng-show="getActiveAnnouncements(announcements).length">
        <div ng-repeat="announcement in getActiveAnnouncements(announcements)">
            <div class="column small-12 small-centered clearfix border-green2 padded">
                <br>
                <h2 class="text-centered text-green2">announcement</h2>
                <br>
                <div class="text-centered">
                    <strong>{{ announcement.date | date }}</strong>
                </div>
                <br>
                <markdown ng-model="announcement.text" line-breaks="true" strip="true"></markdown>
            </div>

        </div>

    </div>

    <div class="column small-12 hidden">
        <br>
        <h2 class="text-centered text-green2">feedback</h2>
        <br>

        <h2 class="text-centered" ng-hide="comments.length">
           No feedback yet. Upload some images to the <a class="button-link" ui-sref="gallery">gallery</a>.
        </h2>

        <table class="table-width min-500 max-500 centered color-interval" ng-show="comments.length">
            <thead>
                <th>id</th>
                <th>user</th>
                <th>
                    <div class="thead-bar">
                        image title
                    </div>
                </th>
                <th>text</th>
            </thead>
            <tbody>
                <tr ng-repeat="comment in comments">
                    <td>
                        <a class="button-link" ui-sref="gallery.view({id: comment.gallery.id})">
                            {{ comment.id }}
                        </a>
                    </td>
                    <td class="uppercase">
                        {{ user.username }}
                    </td>
                    <td>
                        <a class="button-link" ui-sref="gallery.view({id: comment.gallery.id})">
                            {{ comment.gallery.title || 'Untitled' }}
                        </a>
                    </td>
                    <td class="comment-text">
                        <markdown ng-model="comment.comment" line-breaks="true" strip="true"></markdown>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="column small-12 hidden">
        <br>
        <br>
        <h2 class="text-centered text-green2">gallery</h2>
        <br>

        <h2 class="text-centered" ng-hide="galleries.length">
            No gallery images quite yet. Try uploading some work to the <a class="button-link" ui-sref="gallery">gallery</a>.
        </h2>

        <table class="table-width min-500 max-500 centered color-interval" ng-show="galleries.length">
            <thead>
                <th>id</th>
                <th>date</th>
                <th>title</th>
                <th>
                    <div class="thead-bar">
                        description
                    </div>
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="gallery in galleries">
                    <td>
                        <a class="button-link" ui-sref="gallery.view({id: comment.gallery.id})">
                            {{ gallery.id }}
                        </a>
                    </td>
                    <td>{{ gallery.created | date }}</td>
                    <td><a class="button-link" ui-sref="gallery.view({id: comment.gallery.id})">
                        {{ gallery.title }}
                        </a>
                    </td>
                    <td>{{ gallery.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="column small-12">
        <br>
        <br>
        <h2 class="text-centered text-green2">account</h2>
        <br>

        <div class="padded-wrapper firefox-centered">
            <div class="column small-12 small-centered clearfix max-500 centered">

                <p>{{user.email }}</p>
                <p ng-hide="address">
                    Please <a class="button-link" ui-sref="account">add an address</a>
                </p>


                <div ng-show="address">

                    <span class="uppercase">{{ address.first }} {{ address.last }}</span>
                    <p>
                        Phone: {{ address.phone }}
                        <br>
                        Street: {{ address.line1 }}
                        <br>
                        Line 2: {{ address.line2 }}
                        <br>
                        Line 3: {{ address.line3 }}
                        <br>
                        City: {{ address.city }}
                        <br>
                        State: {{ address.state }}
                        <br>
                        Code: {{ address.code }}
                        <br>
                        Country: {{ address.country }}
                        <br>
                        Instructions:
                        <div class="padded-wrapper">
                            {{ address.instructions }}
                        </div>
                    </p>
                </div>
                <a class="button-link" ng-show="address" ui-sref="account">Edit</a>
            </div>
        </div>

    </div>

    <div class="column small-12 hidden">
        <br>
        <br>
        <h2 class="text-centered text-green2">transactions</h2>
        <br>

        <table class="table-width min-500 max-500 centered color-interval">
            <thead>
                <tr>
                    <th>id</th>
                    <th>date</th>
                    <th>
                        <div class="thead-bar">products</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in transactions">
                    <td>
                        <a class="button-link" ui-sref="transaction({id: transaction.id})">{{ transaction.id }}</a>
                    </td>
                    <td>
                        {{ transaction.created | date }}
                    </td>
                    <td>
                        <a class="button-link" ui-sref="transaction({id: transaction.id})">{{ transaction.products.length }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>