<div class="pure-g-r">
    <div class="pure-u-1">
        <h2 class="thick padded text-centered background-gray1">Frequently Asked Questions</h2>
    </div>
    <div class="pure-u-3-5 centered page-body padded-wrapper max-700">
        <p>If you can’t find a solution in the FAQ’s <a href="mailto:support@melissaesplin.com">email</a> us with your question. </p>

        <h3>IS THE WORKSHOP JUST FOR BEGINNERS?</h3>

        <p>Yes and no. We start from the very beginning, no prior knowledge necessary.</p>

        <p>If you’re signing up with prior knowledge and skill, be sure to mention in the comments of your gallery posts. I’m happy to give you a challenge with more off-script assignments.</p>

        <h3>IS THE WORKSHOP FOR LEFTIES?</h3>

        <p>Pointed pen calligraphy is great for both lefties and righties. You’ll want to make sure that you order both straight and oblique holders (universal oblique by speedball in the Optional Items supply page) and read <a href="http://www.iampeth.com/lessons/left-handers/Left%20Handed%20Calligraphy-8.2010.pdf">this article</a> about proper hand positioning for lefties.</p>

        <h3>WHEN DOES MY SUBSCRIPTION START?</h3>

        <p>Subscriptions start at the time of purchase. </p>

        <p>We are working on a new feature that starts the subscription countdown once you’ve accessed the course materials. </p>

        <h3>CAN I COMPLETE THE COURSEWORK IN ONLY 30 DAYS?</h3>

        <ul>
            <li><p>Spend 2-4 hours per week going through coursework and practicing, 15-20 minutes per night is all it takes. </p></li>
            <li><p>Make sure that you complete the assignment prompts and upload to the gallery. No fancy scans needed. A simple phone pic will do just fine. </p></li>
            <li><p>If you have problems or issues, upload those to the gallery. You have an expert in your corner for 30 days to help you figure out any little hiccup you come across. </p></li>
        </ul>

        <h3>DO YOU OFFER EXTENSIONS FOR THE SUBSCRIPTION?</h3>

        <p>We don't offer extensions at this time, although you can purchase the class again and the extra time will be added to your existing subscription. We made sure that the subscription was the right amount of time for our beta testers and they all agreed that 30 days was just right. If you do need an extension, feel free to drop us a line at <a href="mailto:support@melissaesplin.com">support@melissaesplin.com</a></p>

        <h3>CAN I PURCHASE MY SUPPLIES BEFORE MY SUBSCRIPTION? WHAT DO I BUY?</h3>

        <p>We've been working with <a href="http://store.yahoo.com/cgi-bin/clink?yhst-131221940731303+qJkSPN+istilllovecalligraphy.html+">Paper &amp; Ink Arts</a> to make getting started as easy as possible. Head over to their conferences and classes section and select the I Still Love Calligraphy course. There you'll be able to find all of the basics you'll need and a few optional items to get started.</p>

        <p>Read more about the supplies and how to source them locally <a href="http://istilllovecalligraphy.com/supplies">here</a>.</p>

        <h3>IS THE COURSE ON AN INDIVIDUAL BASIS?</h3>

        <p>Yes, it is! That's the beauty of it, You can access the course at any time and work at your own pace. Feedback is on an individual basis as well. </p>

        <p>Through feedback we can re-work concepts that you’re struggling with or go off-script to more advanced items. Work completely at your own pace.</p>

        <h3>IS THE UPLOAD GALLERY VIEWABLE BY EVERYONE?</h3>

        <p>No, it is not. The galleries are all private between the user and admin. We are working on a public gallery for students to publish finished pieces for showing off.</p>

        <h3>WHEN DO YOU LEAVE FEEDBACK?</h3>

        <p>I check in on Mondays and Fridays weekly. Every once in a while life can get the best of me (vacations, illness, holidays, etc) and I can’t get to feedback that day. It’s not often, but when it happens I have systems in place to add an extra day or two (as applicable) to all active subscriptions. </p>

        <p>Giving great feedback when you need it is my number 1 priority. No feedback is given on Sundays.</p>

        <h3>CAN I SUBMIT MY ASSIGNMENTS VIA EMAIL?</h3>

        <p>No. Technically you <em>can</em>, but my time and the gallery is structured so that no assignment uploaded into the gallery gets forgotten. I give feedback on Mondays and Fridays so if you email me your assignment when I’m not working on feedback, it will likely get lost in my inbox black hole. For best results, upload your work to the gallery and email me if feedback is needed urgently. I’ll try to be as prompt as I can.  </p>

        <h3>I DON’T HAVE A SCANNER, IS THAT A PROBLEM?</h3>

        <p>No scanner, no problem. In fact, sometimes a regular phone photo will give me more insight for feedback than a flat scan. Try to take photos in as much light as possible. Turning on extra lamps and lights should be sufficient for taking photos at night.</p>

        <h3>WILL COURSE MATERIALS AVAILABLE TO STUDENTS EVEN AFTER THE 30 DAYS?</h3>

        <p>The course includes printable guides for practicing. The guides are yours to keep and use as you work on polishing your new skill.</p>

        <h3>IS I STILL LOVE CALLIGRAPHY AMAZING?</h3>

        <p>Of course! Melissa has been teaching and developing this curriculum for years, and she knows what students need to get started. The web course has a nifty advantage over her face-to-face classes, because you get coursework, video instruction, practice materials, and Melissa's personal attention for a whole month. Work your way through each lesson, complete the assignments, and upload your work for Melissa to critique.</p>

        <h3>HOW DO I RESET MY PASSWORD?</h3>

        <p>Click the LOGIN button at the top of each page and follow the "reset password" link... or <a href="http://istilllovecalligraphy.com/resetting/request">reset your password here</a>.</p>

        <h3>DO YOU OFFER EXTENSIONS FOR THE SUBSCRIPTION?</h3>

        <p>We don't offer extensions at this time, although you can purchase the class again and the extra time will be added to your existing subscription. We made sure that the subscription was the right amount of time for our beta testers and they all agreed that 30 days was just right. If you do need an extension, feel free to drop us a line at <a href="mailto:support@melissaesplin.com">support@melissaesplin.com</a></p>

        <h3>HOW CAN I MAXIMIZE MY VIDEO QUALITY?</h3>

        <p>Different web browsers use different video formats. Safari and IE support H.264, which is the native format for our videos. All other video formats (Chrome/Firefox) have been transcoded for compatibility and may lose some quality. Mozilla has stated that it will soon start to support H.264, but Safari is your best bet to maximize video quality.</p>

        <h3>SOME ELEMENT ON THE SITE LOOKS WONKY.</h3>

        <p>We've done our web development with the latest Firefox browser. We test in Chrome and Safari, but not IE. Sorry IE folks. We've tried to make everything compatible, but we just don't have the time/resources to test in IE. Upgrade your browser to the newest version, and if that doesn't fix it, switch to Firefox. If you're really frustrated, email us some <a href="mailto:support@melissaesplin.com">feedback</a>.</p>

        <h3>DO YOU HAVE RETURN POLICY?</h3>

        <p>Yes we do! If you feel like I Still Love Calligraphy has disappointed you, drop us a line at<a href="mailto:support@melissaesplin.com?subject=Return">support@melissaesplin.com</a> and we'll make sure you get satisfaction.</p>



    </div>

</div>
