<div id="gallery" class="pure-g-r gallery" ng-show="gallery">

    <div class="pure-u-2-5">
        <img class="gallery-image" ng-src="{{ gallery.signed_uri }}" alt="{{ gallery.title }}"/>
        <h4>{{ gallery.title }}</h4>
    </div>
    <div class="pure-u-3-5">
        <p class="gallery-description">
            {{ gallery.description }}
        </p>

        <ul>
            <li ng-repeat="comment in gallery.comments">
                <h4></h4>
                {{ comment }}
            </li>
        </ul>

        <h2>new comment</h2>
        <textarea id="newComment" name="newComment" ng-model="newComment"></textarea>
        <button class="button button-secondary" ng-click="addComment(newComment)">add</button>

    </div>


</div>