<div class="galleries">

    <div class="column small-12 hidden">
        <h2 class="text-centered">My Gallery</h2>

        <br>
        <table id="galleries-table" class="table-width centered">
            <thead>
            <th>id</th>
            <th>date</th>
            <th>title</th>
            <th>
                <div class="thead-bar">description</div>
            </th>
            <th></th>
            </thead>
            <tbody>
            <tr ng-hide="galleries.length">
                <td class="text-centered text-x-medium" colspan="100%">You have no images yet. Upload something!</td>
            </tr>
            <tr ng-class="'gallery-row-' + $index" ng-repeat="gallery in galleries">
                <td>
                    <a class="button-link" ui-sref="gallery.view({id: gallery.id})">
                        {{ gallery.id }}
                    </a>
                </td>
                <td>{{ gallery.created | date }}</td>
                <td class="gallery-title">
                    <a class="button-link" ui-sref="gallery.view({id: gallery.id})">
                        {{ gallery.title || 'Untitled' }}
                    </a>
                </td>
                <td class="gallery-description" qv-truncate="75">
                    <span>{{ gallery.description }}</span>
                </td>
                <td>
                    <a class="button-link" ng-click="removeGallery(gallery)" qv-disable=".gallery-row-{{ $index }}" stop-propagation>Delete Gallery</a>
                </td>
            </tr>
            </tbody>
        </table>

        <br>
    </div>

    <div class="column small-12" ui-view="galleryView"></div>

    <hr>

    <div class="column small-12 background-gray1" ng-show="galleryAccess">
        <form class="qv-form full-width-form centered" flow-init="{target: '/angular/gallery', testChunks: false, query: newGallery}">
            <br>
            <h2 class="text-centered">upload a gallery image</h2>
            <br>

            <div class="clearfix">
                <input
                    id="gallery-title"
                    class="column small-12"
                    name="title"
                    type="text"
                    placeholder="Gallery title..."
                    ng-model="newGallery.title"
                    ng-change="fileChange(newGallery)"
                    qv-focus
                />
            </div>

            <div class="clearfix">
                <textarea
                    id="gallery-description"
                    class="column small-12"
                    name="description"
                    placeholder="Gallery description..."
                    ng-model="newGallery.description"
                ></textarea>
                <label class="text-xx-small text-green2" for="gallery-description">For best critiques: share tools, materials, process and questions above.</label>
            </div>

            <br>

            <div class="clearfix">
                <input
                    id="gallery-file"
                    class="display-none"
                    name="file"
                    type="file"
                    flow-btn
                />
                <label class="button button-primary text-center" for="gallery-file" ng-hide="$flow.files.length">Choose File</label>

                <ul>
                    <li ng-repeat="file in $flow.files">
                        <span>{{ file.name }} {{ file.size / 1000 | number:0 }}kb</span>
                        <span class="button-link" ng-click="clearFlow($flow)">remove</span>

                    </li>
                </ul>

                <label class="text-xx-small text-green2" for="gallery-file">5MB maximum file size</label>
            </div>

            <div class="clearfix">
                <br>
                <button
                    class="button button-secondary"
                    ng-disabled="!$flow.files.length"
                    ng-click="upload($flow)"
                >upload</button>
            </div>

        </form>

        <br>
    </div>

</div>