<div class="pure-g-r">
    <div class="pure-u-2-5">
        <a href="#">
            <div class="islc-logo"></div>
        </a>
    </div>

    <div class="pure-u-3-5 relative">
        <ul id="nav-links" class="pure-menu-horizontal">
            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('logout')" href="/logout">log out</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('account')" ui-sref="account">account</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('login')" ui-sref="login">log in</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('register')" ui-sref="register">register</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('faq')" ui-sref="faq">faq</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('supplies')" ui-sref="supplies">supplies</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('products')" ui-sref="products">products</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('subscriptions')" ui-sref="subscriptions">subscriptions</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="cart.products" ui-sref="cart">
                    cart
                    <span ng-show="cart.count">({{ cart.count }})</span>
                </a>
            </li>

            <!--<li class="nav-link-item" ng-repeat="link in links">-->
                <!--<a class="nav-link" ng-href="{{ link.href }}" ng-show="showLink(link.state)">{{ link.text }}</a>-->
            <!--</li>-->
        </ul>

    </div>

    <!--<div id="nav-stretch" class="pure-u-1-5 pure-visible-desktop"></div>-->


</div>
