<div class="pure-g-r">
    <div id="top-nav-bar" class="pure-u-1 background-green1"></div>
    <div id="top-nav-logo" class="pure-u-2-5">
        <a ui-sref="root" ng-hide="user">
            <div class="background-white pull-right-desktop centered-tablet">
                <div class="islc-logo"></div>
            </div>
        </a>
        <a ui-sref="dashboard" ng-show="user">
            <div class="background-white pull-right-desktop centered-tablet">
                <div class="islc-logo"></div>
            </div>
        </a>
        <span id="byline">by <a class="button-link" href="http://melissaesplin.com/" target="_blank">Melissa Esplin</a></span>
    </div>

    <div class="pure-u-3-5 relative">
        <ul id="nav-links" class="pure-menu-horizontal" ng-cloak>
            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('products')" ui-sref="products" qv-active>products</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('supplies')" ui-sref="supplies" qv-active>supplies</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('faq')" ui-sref="faq" qv-active>faq</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('subscriptions')" ui-sref="subscriptions" rel="nofollow" qv-active>subscriptions</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('gallery')" ui-sref="gallery" rel="nofollow" qv-active>gallery</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="cart.products" ui-sref="cart" rel="nofollow" qv-active>
                    <span ng-show="cart.count" style="white-space: nowrap;">cart (<span ng-bind="cart.count"></span>)</span>
                </a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('account')" ui-sref="account" rel="nofollow" qv-active>account</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('register')" ui-sref="register" rel="nofollow" qv-active>register</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('login')" ui-sref="login" rel="nofollow" qv-active>log in</a>
            </li>

            <li class="nav-link-item">
                <a class="nav-link" ng-show="showLink('logout')" href="/logout" rel="nofollow">log out</a>
            </li>

        </ul>

    </div>


</div>
