<div class="page">

    <div class="column small-12 full-bleed">
        <h2 class="thick padded text-centered background-gray1">
            {{ page.title }}
            <a class="title-bookmark right text-xx-small" ng-click="setBookmark(page.title)" ng-hide="$storage.bookmark.params.pageSlug == pageSlug">Set Bookmark</a>
        </h2>
        <br>



        <br>


        <div class="page-body">
            <markdown ng-model="page.signed_html"></markdown>
        </div>

    </div>

    <div class="column small-12 full-bleed">
        <br>
        <a
            class="page-link previous-page-link"
            ng-show="previousPage"
            ui-sref="content.subscription.page({pageSlug: previousPage.slug})"
            qv-disable=".page-link"
        >Previous</a>
        <a
            class="page-link next-page-link pull-right"
            ng-show="nextPage"
            ui-sref="content.subscription.page({pageSlug: nextPage.slug})"
            qv-disable=".page-link"
        >Next</a>
    </div>
</div>