<div class="pure-g-r page">

    <div class="pure-u-1">
        <h2 class="thick padded text-centered background-gray1">{{ page.title }}</h2>
        <br>

        <div class="page-body">
            <markdown ng-model="page.signed_html"></markdown>
        </div>

    </div>

    <div class="pure-u-1">
        <br>
        <a
            class="page-link previous-page-link"
            ng-show="previousPage"
            ui-sref="content.subscription.page({pageSlug: previousPage.slug})"
            qv-disable=".page-link"
        >Previous</a>
        <a
            class="page-link next-page-link pull-right"
            ng-show="nextPage"
            ui-sref="content.subscription.page({pageSlug: nextPage.slug})"
            qv-disable=".page-link"
        >Next</a>
    </div>
</div>