<div class="products padded-wrapper">
    <div class="pure-g-r">
        <div class="clearfix pure-u-3-5 full-width-form centered" ng-repeat="product in products">
            <h3 class="clearfix text-green2">{{ product.title }}</h3>

            <br>
            <p>
            <h4>Price: {{ product.price }}</h4>
            </p>
            <p>
            <h4 ng-show="product.days">Subscription Period: {{ product.days }} Days</h4>
            </p>

            <p class="product-description" ng-bind-html-unsafe="product.description"></p>

            <br>
            <ul class="image-list">
                <li class="image-list-item">
                    <img ng-src="{{ product.key_image }}" alt=""/>
                </li>
                <li class="image-list-item" ng-repeat="uri in product.images">
                    <img ng-src="{{ uri }}" alt=""/>
                </li>
            </ul>
            <br>

            <p class="pure-g-r">
            <div class="pure-u-2-5">
                <button class="button-cta centered-phone full-width" ng-click="addToCart(product.id, 1)">Add To Cart</button>
            </div>
            </p>

        </div>
    </div>
</div>