<div class="background-gray1">
    <ul class="link-list">
        <li class="link-list-item" ng-click="filterProducts()" ng-class="{active: isActive()}">all</li>
        <li class="link-list-item" ng-click="filterProducts('workshop')" ng-class="{active: isActive('workshop')}">workshops</li>
        <li class="link-list-item" ng-click="filterProducts('digital')" ng-class="{active: isActive('digital')}">downloads</li>
        <li class="link-list-item" ng-click="filterProducts('physical')" ng-class="{active: isActive('physical')}">goodies</li>
    </ul>
</div>
<div class="products padded-wrapper">
    <div class="pure-g-r products-wrapper centered">

        <a class="pure-u-1-3 product product-{{ product.category || product.type }}" ng-repeat="product in products | filter:category" ui-sref="product({id: product.id})">
            <img class="product-image" ng-src="{{ product.key_image }}" alt="{{ product.title }}"/>
            <div class="product-title">{{ product.title }}</div>
            <div class="product-price">{{ product.price | currency | trimDecimal }}</div>
        </a>
    </div>
</div>