<div class="background-gray1">
    <ul class="link-list">
        <a class="link-list-item" ui-sref="products">all</a>
        <a class="link-list-item" ui-sref="products({category: 'workshop'})">workshops</a>
        <a class="link-list-item" ui-sref="products({category: 'digital'})">downloads</a>
        <a class="link-list-item" ui-sref="products({category: 'physical'})">goodies</a>
    </ul>
</div>
<div class="product padded-wrapper">
    <div class="pure-g-r product-wrapper product-{{ product.category || product.type }} centered" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="availability" content="{{ inStock(product) }}" />

        <div class="pure-u-3-5 product-images centered-tablet">

            <img class="product-image" ng-src="{{ uri }}" alt="{{ product.title }}" ng-repeat="uri in product.images" ng-click="selectImage($index)" itemprop="image"/>
            <div class="stretch"></div>
        </div>
        <div class="pure-u-2-5 product-details">
            <div class="product-meta clearfix">
                <meta itemprop="sku" content="{{ product.id }}"/>
                <meta itemprop="priceCurrency" content="USD">
                <div class="product-title pull-left" itemprop="name">{{ product.title }}</div>
                <div class="product-price pull-right" itemprop="price">{{ product.price | currency | trimDecimal }}</div>
            </div>

            <button
                class="button-highlight"
                ng-click="addToCart(product.id, 1)"
                qv-flash="cart"
                flash-message="adding..."
                flash-duration="1000"
                ng-disabled="outOfStock"
            >
                Add To Cart
            </button>

            <h4>
                <span ng-show="outOfStock">out of stock</span>
                <span ng-hide="outOfStock || infiniteAvailable">in stock: {{ product.available }}</span>
            </h4>

            <div class="product-description">
                <markdown ng-model="product.description" line-breaks="true" strip="true" itemprop="description"></markdown>
            </div>
        </div>

    </div>
</div>