
<div class="pure-g-r landing-page" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="pure-u-1">
        <h1 class="header centered text-centered">learn modern calligraphy</h1>
    </div>

    <div class="pure-u-1 pure-g-r background-gray1 single">
        <div class="pure-u-1-2">
            <p class="pull-right-desktop centered-tablet no-padding-phone single-text text-x-medium" itemprop="headline">
                Online calligraphy course for beginner and intermediate penwomen and penmen. Personal instruction from professional calligrapher <a class="button-link" href="http://melissaesplin.com" target="_blank">Melissa Esplin</a>.
            </p>
        </div>
        <div class="pure-u-1-2">
            <button class="button-cta centered-phone" ng-click="convert('online-calligraphy-course')" qv-disable=".button-cta">Join The Class Today</button>
        </div>
    </div>

    <div class="pure-u-1" qv-slider="images.melissa"></div>
    <div class="pure-u-1">
        <span class="linkout pull-right">
            see more calligraphy at <a href="http://melissaesplin.com" target="_blank">MELISSAESPLIN.COM</a>
        </span>
    </div>

    <div class="pure-u-1 pure-visible-desktop">
        <div class="background-make-paper-sing centered text-centered"></div>
    </div>
    <div class="pure-u-1 pure-hidden-desktop"><br><br></div>



    <div class="pure-u-1-3 triple border-right">
        <div class="background-beginner centered"></div>
        <p class="centered text-centered text-x-medium">
            Beginner? No problem! the course starts with ABCs and 123s. Personalized coaching, printables and assignments do the rest.
        </p>
    </div>

    <div class="pure-u-1-3 triple border-right">
        <div class="background-personal-feedback centered"></div>
        <p class="centered text-centered text-x-medium">
            Develop your penmanship with help from professional calligrapher <a class="button-link" href="http://melissaesplin.com" target="_blank">Melissa Esplin</a>. A combination of written and video instruction are supplemented with Melissa's personal comments on your work.
        </p>
    </div>

    <div class="pure-u-1-3 triple">
        <div class="background-learn-your-way centered"></div>
        <p class="centered text-centered text-x-medium">
            Personalized coaching, videos, practice printables and step-by-step walk-throughs to address all learning styles
        </p>
    </div>

    <div class="pure-u-1">
        <button class="button-cta centered" ng-click="convert('online-calligraphy-course')" qv-disable=".button-cta">get started now</button>
    </div>

    <div class="pure-u-1 background-gray1 single student-work">
        <div class="background-student-work centered visible-desktop"></div>
        <div class="hidden-desktop">
            <h1 class="text-centered">student work</h1>
            <br>
        </div>

        <div class="pure-u-1" qv-slider="images.studentWork"></div>
    </div>

    <div class="pure-u-1 pure-g-r background-gray1 testimonials-wrapper">
        <div class="pure-u-1 pure-g-r centered testimonials-columns-wrapper">
            <div class="pure-u-1">
                <br>
                <div class="background-testimonials centered"></div>
                <br>
            </div>
            <div class="pure-u-1-2 border-right bordered-tablet padded-wrapper">
                <div itemscope itemtype="http://schema.org/Review">
                    <h3 itemprop="author">kait bos</h3>
                    <a href="http://kaitbos.com" title="kait bos" rel="nofollow" target="_blank" itemprop="url">kaitbos.com</a>
                    <div itemprop="reviewBody">
                        <p>
                            I've learned a lot from this course and your one-on-one comments have been extremely helpful and valuable. I took another online calligraphy class and yours was far more helpful. Thanks again!
                        </p>
                    </div>

                </div>


                <hr>

                <div itemscope itemtype="http://schema.org/Review">
                    <h3 itemprop="author">val glidden</h3>
                    <a href="http://blog.valentinaglidden.com" title="val glidden"  rel="nofollow" target="_blank" itemprop="url">blog.valentinaglidden.com</a>
                    <div itemprop="reviewBody">
                        <p>
                            I am seriously so thankful I took your class. I never ever thought I would be able to do calligraphy at all. You made it easy to learn and your feedback was so sweet yet so helpful.
                        </p>
                    </div>

                </div>

                <hr>

                <div itemscope itemtype="http://schema.org/Review">
                    <h3 itemprop="author">emily cavanagh</h3>
                    <a href="http://emilyecavanagh.com/blog/" title="emily cavanagh"  rel="nofollow" target="_blank" itemprop="url">emilyecavanagh.com</a>
                    <div itemprop="reviewBody">
                        <p>
                            Thanks so much for putting your heart into your calligraphy class, Melissa.  It was so much fun to take and such a confidence booster!  You girls don't know how much inspiration and drive you put in us.  I can be having the worst day, and see a DIY or calligraphy project on
                            <a class="button-link" href="http://melissaesplin.com" target="_blank">ISLY</a>, and my creative gears start turning...  Really!  Keep up the great work.  I hope I'm right there along with you someday!
                        </p>
                        <p>
                            In the meantime, I'll keep making and addressing... and telling everyone about your online calligraphy course. :)
                        </p>
                    </div>


                </div>


            </div>
            <div class="pure-u-1-2 padded-wrapper">
                <div itemscope itemtype="http://schema.org/Review">
                    <h3 itemprop="author">belinda anderson</h3>
                    <div itemprop="reviewBody">
                        <p>
                            I'm in the middle of doing invitations and just had to stop and thank you, Melissa, for your course. I am in a much better place now than before I started the I Still Love Calligraphy course.
                        </p>
                        <p>
                            I literally could not have done this project had I not taken your course...you made me to be able to do this!
                        </p>
                        You rock!
                        </p>
                    </div>

                </div>


                <hr>

                <div itemscope itemtype="http://schema.org/Review">
                    <h3 itemprop="author">Felisha</h3>
                    <div itemprop="reviewBody">
                        <p>
                            So I have one day left with the course and I just wanted to tell you how much I have loved it!  I haven't submitted everything I have done, but all of the information has been so helpful and so informative.  I learned calligraphy in my 7th grade art class (a long, long, long time ago) and I was in love from the start.  It became a long-forgotten hobby over the years, so thank you for reminding me how much I love calligraphy.
                        </p>
                        <p>
                            I do have to say that this is the first time I have used the nib.  I have always used calligraphy markers, but the pen and ink is so much more artistic and beautiful.  I will never use a marker again.  ;)  I will whole heartily recommend this course to others.
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="pure-u-2-5 how-does-it-work-wrapper centered-tablet centered-phone">
        <br>
        <div class="background-how-does-it-work pull-right-desktop"></div>
    </div>

    <div class="pure-u-3-5 centered-tablet centered-phone" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <br>
        <div class="bordered" itemprop="description">
            <ul class="aligned-list no-margin text-x-medium">
                <li>4 Videos</li>
                <li>9 Lessons</li>
                <li>3 Practice Guides</li>
                <li>8 Assignments</li>
                <li>Personal Coaching</li>
                <li>Private student/teacher gallery for troubleshooting and critiques</li>
                <li>Mobile/tablet compatible</li>
            </ul>
            <p class="text-x-medium">
                Hundreds of students have learned the pointed pen with Melissa's step-by-step process.
                Melissa's students have incorporated their calligraphy techniques into freelance wedding invitations, sign painting and graphic art.
            </p>
            <button class="button-cta centered" ng-click="convert('online-calligraphy-course')" qv-disable=".button-cta">click to start</button>
        </div>
    </div>

    <div class="pure-u-1 pure-g-r background-gray1 about-wrapper" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <div class="pure-u-4-5 pure-g-r centered">
            <div class="pure-u-1-2 centered-text-tablet right-text-desktop about-image-wrapper padded-wrapper">
                <div class="clearfix">
                    <div class="inline-block pull-right-desktop centered-tablet centered-phone">
                        <div class="background-me"></div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="inline-block pull-right-desktop centered-tablet centered-phone">
                        <div class="background-about"></div>
                    </div>
                </div>

                <h3>
                    <span class="inline-block pull-right-desktop centered-tablet centered-phone" itemprop="givenName">melissa</span>
                    <meta itemprop="familyName" content="esplin"/>
                </h3>
            </div>
            <div class="pure-u-1-2 padded-wrapper">
                <p class="max-paragraph" itemprop="description">
                    She's done commercial work for companies large and small, and she teaches classes regularly in
                    the Salt Lake City, Utah area. Melissa publishes her work at
                    <a href="http://melissaesplin.com" target="_blank" itemprop="url">MelissaEsplin.com</a>
                    (aka I Still Love You, aka ISLY), her craft/design/everything blog.
                </p>

                <p class="max-paragraph">
                    I Still Love Calligraphy is a joint production of halves one and two of the Esplin duo.
                    <a href="https://twitter.com/ChrisEsplin" target="_blank" rel="nofollow">Chris</a> does the web development and
                    <a href="http://melissaesplin.com" target="_blank" rel="nofollow">Melissa</a> creates everything else. If there's a problem,
                    it's probably Chris's fault, and you should drop us an <a href="mailto:support@melissaesplin.com" itemprop="email">email</a>. Chris will get right on it.
                </p>


            </div>
        </div>
    </div>

    <div id="mc_embed_signup" class="pure-u-1 email-footer padded-wrapper">
        <form class="pure-g-r" action="http://istilllovecalligraphy.us5.list-manage2.com/subscribe/post?u=381a43f9ce1087b394d843d80&amp;id=60761ee4f8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <div class="pure-u-2-3 email-footer-item">
                <input id="mc-email-input" class="centered centered-tablet pull-right-desktop" type="email" value="" name="EMAIL" placeholder="email address" ng-model="email"/>
            </div>
            <div class="pure-u-1-3 email-footer-item">
                <button id="mc-email-submit" class="button-secondary centered-tablet pull-left-desktop" value="Subscribe" type="submit" name="subscribe">subscribe</button>
            </div>
            <div class="pure-u-1 email-footer-item text-centered">
                <label class="inline">
                    Sign up for our newsletter to receive deals and course announcements in your inbox
                </label>
            </div>
        </form>
    </div>

</div>