<div class="pure-g-r landing-page">
    <div class="pure-u-1">
        <h1 class="header centered">learn modern calligraphy</h1>
    </div>

    <div class="pure-u-1 pure-g-r background-gray1 single">
        <div class="pure-u-1-2">
            <p class="pull-right single-text text-x-medium">
                Preserve the art of calligraphy. Make paper beautiful with a modern twist on a 6th century art.
            </p>
        </div>
        <div class="pure-u-1-2">
            <button class="button-cta" ng-click="convert('online-calligraphy-course')">learn calligraphy today</button>
        </div>
    </div>

    <div class="pure-u-1" qv-slider="images.melissa"></div>

    <div class="pure-u-1">
        <div class="background-make-paper-sing centered"></div>
    </div>

    <div class="pure-u-1-3 triple border-right">
        <div class="background-beginner centered"></div>
        <p class="centered text-x-medium">
            Beginner? No problem! the course starts with ABCs and 123s. Personalized coaching, printables and assignments do the rest.
        </p>
    </div>

    <div class="pure-u-1-3 triple border-right">
        <div class="background-personal-feedback centered"></div>
        <p class="centered text-x-medium">
            Develop your penmanship with help from a professional calligrapher. A combination of written and video instruction are supplemented with Melissa's personal comments on your work.
        </p>
    </div>

    <div class="pure-u-1-3 triple">
        <div class="background-learn-your-way centered"></div>
        <p class="centered">
            Personalized coaching, videos, practice printables and step-by-step walk-throughs to address all learning styles
        </p>
    </div>

    <div class="pure-u-1">
        <button class="button-cta centered" ng-click="convert('online-calligraphy-course')">get started now</button>
    </div>

    <div class="pure-u-1 background-gray1 single student-work">
        <div class="background-student-work centered"></div>
        <div class="pure-u-1" qv-slider="images.students"></div>
    </div>

    <div class="pure-u-2-5">
        <div class="background-how-does-it-work pull-right"></div>
    </div>

    <div class="pure-u-3-5">
        <div class="bordered">
            <ul class="aligned-list no-margin text-x-medium">
                <li>4 Videos</li>
                <li>9 Lessons</li>
                <li>3 Practice Guides</li>
                <li>8 Assignments</li>
                <li>Personal Coaching</li>
                <li>Private student/teacher gallery for troubleshooting and critiques</li>
                <li>Mobile/tablet compatible</li>
            </ul>
            <p class="text-x-medium">
                Hundreds of students have learned the pointed pen with Melissa's step-by-step process.
                Melissa's students have incorporated their calligraphy techniques into freelance wedding invitations, sign painting and graphic art.
            </p>
            <button class="button-cta centered" ng-click="convert('online-calligraphy-course')">click to start</button>
        </div>
    </div>

    <div class="pure-u-1 pure-g-r email-footer">
        <div class="pure-u-2-5">
            <p class="text-medium pull-right no-margin align-right">
                Sign up for our newsletter to receive deals and course announcements in your inbox
            </p>
        </div>
        <div class="pure-u-1-5">
            <form action="">
                <input class="centered" type="email" placeholder="email address"/>
            </form>
        </div>
        <div class="pure-u-2-5">
            <button class="button-secondary">subscribe</button>
        </div>
    </div>

</div>