<div class="pure-g-r firefox-centered">
    <div class="pure-u-1">
        <h2 class="thick padded text-centered background-gray1">Tools & Supplies</h2>
    </div>
    <div class="pure-u-1 centered page-body padded-wrapper max-700">

        <!--Start of Content-->

        <p><em>Not sure what any of this is? Check the FAQs or email us with your question.</em> </p>

        <h3>Get it in one click.</h3>

        <p>We’ve teamed up with <a href="http://store.yahoo.com/cgi-bin/clink?yhst-131221940731303+qJkSPN+istilllovecalligraphy.html+">Paper &amp; Ink</a> arts to provide you a quick way to order the supplies you need before you start the analog workshop. Simply click on the link and purchase at least the basic supplies. If you think you may fall head over heels with calligraphy, go ahead and get the optional supplies. Save yourself some shipping costs and time at a later date.</p>

        <p>Paper &amp; Ink Arts is wonderful about shipping items promptly; but to be safe, it’s best to purchase supplies before starting the course. </p>

        <h3>Get it Locally.</h3>

        <p>Sourcing locally can be time consuming and frustrating unless you live in a relatively urban area or an artsy college town. If you do, you may just be able to find everything you need in one stop. </p>

        <p>To expedite your shopping trip, print out this page (or save a tree and pull it up on your phone) and have your local art supply store employee help you find everything you need.</p>

        <p>I love Michael’s, JoAnn and Hobby Lobby, but they won’t have what you need. PROMISE. If you want to waste time and money, go ahead and get one of those yucky speedball calligraphy kits. If you want to enjoy your time with pen and ink, get the following:</p>

        <br>

        <div class="pure-g-r firefox-centered">
            <div class="pure-u-3-5 centered">
                <a class="button-cta text-centered" href="http://store.yahoo.com/cgi-bin/clink?yhst-131221940731303+qJkSPN+istilllovecalligraphy.html+">Purchase Supplies</a>
            </div>
        </div>


        <br>

        <div class="pure-g-r">
            <div class="pure-u-1-2">
                <img style="margin-top: 0;" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/supplies-basic.png" alt="Optional Supplies" title="" />
            </div>
            <div class="pure-u-1-2 padded-wrapper">
                <h3>Required Supplies:</h3>

                <ul>
                    <li>Wooden or plastic pen holder</li>
                    <li>Black ink - FW, Higgins Eternal, Sumi 60</li>
                    <li>At least 2 Nibs - Hunt 22, Hunt 101, Gillott 303, Brause ef66, Leonardt Principal, Zebra G</li>
                    <li>Organizer box</li>
                    <li>Rhodia gridor Bienfang grid paper</li>
                    <li>Tracing paper</li>
                    <li>Pencil</li>
                    <li>White plastic eraser</li>
                </ul>
            </div>
        </div>

        <div class="pure-g-r">
            <div class="pure-u-1-2">
                <img style="margin-top: 0;" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/supplies-optional.png" alt="Optional Supplies" title="" />
            </div>
            <div class="pure-u-1-2 padded-wrapper">
                <h3>Additional Supplies:</h3>

                <ul>
                    <li>Oblique pen holder (strongly recommended for lefties)</li>
                    <li>Sumi 60 ink</li>
                    <li>Dr. PH Martin’s Pen White ink</li>
                    <li>Dr. PH Martin’s Copperplate Gold</li>
                    <li>All the pointed nibs you can find - Hunt 22, Hunt 101, Gillott 303, Brause ef66, Leonardt Principal, Zebra G</li>
                    <li>Drafting pencil</li>
                    <li>Crowquill holder</li>
                    <li>Click eraser</li>
                    <li>Clear gridded ruler</li>
                </ul>
            </div>
        </div>


        <!--End of Content-->

    </div>

</div>
