<div class="pure-g-r">
    <div class="pure-u-1">
        <h2 class="thick padded text-centered background-gray1">Tools & Supplies</h2>
    </div>
    <div class="pure-u-1 centered page-body padded-wrapper max-700">

        <!--Start of Content-->

        <p><em>Not sure what any of this is? Check the FAQs or email us with your question.</em> </p>

        <h3>Get it in one click.</h3>

        <p>We’ve teamed up with <a href="http://store.yahoo.com/cgi-bin/clink?yhst-131221940731303+qJkSPN+istilllovecalligraphy.html+">Paper &amp; Ink</a> arts to provide you a quick way to order the supplies you need before you start the analog workshop. Simply click on the link and purchase at least the basic supplies. If you think you may fall head over heels with calligraphy, go ahead and get the optional supplies. Save yourself some shipping costs and time at a later date.</p>

        <p>Paper &amp; Ink Arts is wonderful about shipping items promptly; but to be safe, it’s best to purchase supplies before starting the course. </p>

        <h3>Get it Locally.</h3>

        <p>Sourcing locally can be time consuming and frustrating unless you live in a relatively urban area or an artsy college town. If you do, you may just be able to find everything you need in one stop. </p>

        <p>To expedite your shopping trip, print out this page (or save a tree and pull it up on your phone) and have your local art supply store employee help you find everything you need.</p>

        <p>I love Michael’s, JoAnn and Hobby Lobby, but they won’t have what you need. PROMISE. If you want to waste time and money, go ahead and get one of those yucky speedball calligraphy kits. If you want to enjoy your time with pen and ink, get the following:</p>

        <div class="pure-g-r">
            <div class="pure-u-1-2">
                <img style="margin-top: 0;" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/supplies-basic.png" alt="Optional Supplies" title="" />
            </div>
            <div class="pure-u-1-2 padded-wrapper">
                <h3>Required Supplies:</h3>

                <ul>
                    <li>Wooden or plastic pen holder</li>
                    <li>Black ink - FW, Higgins Eternal, Sumi 60</li>
                    <li>At least 2 Nibs - Hunt 22, Hunt 101, Gillott 303, Brause ef66, Leonardt Principal, Zebra G</li>
                    <li>Organizer box</li>
                    <li>Rhodia gridor Bienfang grid paper</li>
                    <li>Tracing paper</li>
                    <li>Pencil</li>
                    <li>White plastic eraser</li>
                </ul>
            </div>
        </div>

        <div class="pure-g-r">
            <div class="pure-u-1-2">
                <img style="margin-top: 0;" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/supplies-optional.png" alt="Optional Supplies" title="" />
            </div>
            <div class="pure-u-1-2 padded-wrapper">
                <h3>Additional Supplies:</h3>

                <ul>
                    <li>Oblique pen holder (strongly recommended for lefties)</li>
                    <li>Sumi 60 ink</li>
                    <li>Dr. PH Martin’s Pen White ink</li>
                    <li>Dr. PH Martin’s Copperplate Gold</li>
                    <li>All the pointed nibs you can find - Hunt 22, Hunt 101, Gillott 303, Brause ef66, Leonardt Principal, Zebra G</li>
                    <li>Drafting pencil</li>
                    <li>Crowquill holder</li>
                    <li>Click eraser</li>
                    <li>Clear gridded ruler</li>
                </ul>
            </div>
        </div>

        <hr />

        <p>We’ve got a full section about tools and supplies waiting for you once you sign up, but before you do we recommend that you purchase some supplies. For the most part, you can source these goodies locally, but in the case that you have trouble, we want to make sure that you don’t lose out on any subscription time waiting on the mail. </p>

        <p>We’ve partnered with Paper &amp; Ink Arts to help you source all of the required tools in one spot and just a few clicks. No need for searching around multiple sites and paying multiple shipping fees. </p>

        <p>Nibs - you need a few kinds of nibs, the ones with the points on them. If they flatten out at the tip, you’re headed in the wrong direction. Here are some respectable nibs that are easy to find locally: </p>

        <p>Nibs: Hunt 101, Hunt 100, Gillott 303
            Harder to find: Zebra G, Brause ef66, Leonardt Principal </p>

        <p>Holder: Straight wood holder with metal teeth
            Optional (lefties should get one): Speedball oblique holder</p>

        <p>Ink: FW acrylic ink
            Optional: Sumi ink
            <strong>Stay away from Higgins!! Higgins Eternal is okay, but the others are AWFUL!</strong></p>

        <p>Paper: Gridded Rhodia pad, Tracing paper</p>



        <!--End of Content-->

    </div>

</div>
