<div class="transaction padded-wrapper">
    <div class="pure-g-r">
        <div class="clearfix pure-u-3-5 full-width-form centered">
            <p>
                Transaction #{{ transaction.id }}
            </p>
            <p>
                Purchase Date: {{ transaction.created | date }}
            </p>

            <br>
            <h3 class="clearfix text-green2">Products.</h3>
            <br>
            <div qv-table="productsTable"></div>
            <br>
        </div>
    </div>
</div>