<div class="transaction padded-wrapper">
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="background-thankyou centered"></div>

            <br>

            <h2 class="text-centered">transaction #{{ transaction.id }}</h2>
        </div>


        <div class="pure-u-1">

            <br>
            <table class="table-width centered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>date</th>
                        <th>qty</th>
                        <th>
                            <div class="thead-bar">title</div>
                        </th>
                        <th>type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in transaction.products">
                        <td>
                            {{ product.id }}
                        </td>
                        <td>
                            {{ product.created | date }}
                        </td>
                        <td>{{ product.quantity }}</td>
                        <td>
                            <a class="button-link" ui-sref="product({slug: product.slug})">{{ product.title }}</a>
                        </td>
                        <td class="capitalize">{{ product.category || product.type }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pure-u-1" ng-show="productSlug">
            <br>
            <br>
            <a ui-sref="content.subscription({productSlug: productSlug})">
                <button class="button-highlight centered">take me to my coursework</button>
            </a>
        </div>
    </div>
</div>