.qv-slider {
  $qv-slider-image-width: 350px;

  position: relative;
  height: $qv-slider-image-width;
  
  &:before {
    @include absolute(0, inherit, 0, 0);

    content: '';
    width: 50px;
    z-index: 1;
  }

  &:after {
    @include absolute(0, 0, 0, inherit);

    content: '';
    width: 50px;
    z-index: 1;
  }
  
  .qv-slider-list {
    @include absolute(0, inherit, inherit, 0);
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;

    @include transition(margin, 300ms, ease);
  }

  .qv-slider-list-item {
    display: inline;
    margin: 0 15px;
    position: relative;
  }


  .qv-slider-image {
    @extend .background-white;
    width: $qv-slider-image-width;
    height: $qv-slider-image-width;
  }

  .qv-slider-link {
    @include absolute(inherit, 4px, 4px, 0);
    @extend .text-medium;

    background: rgba(0, 0, 0, .7);
    color: white;
    height: 43px;
    letter-spacing: 2px;
    padding: 14px;
    text-align: center;
    text-transform: uppercase;
  }

  .qv-slider-button {
    @extend .circle;
    @extend .background-white;
    @include single-box-shadow(getColor(gray), 1px, 1px, 4px);

    cursor: pointer;
    margin-top: -25px;
    z-index: 2;
  }

  $qv-slider-offset: 20px;
  .qv-slider-left-button {
    @include absolute(50%, inherit, inherit, $qv-slider-offset);

    padding: 7px 11px 7px 9px;
  }

  .qv-slider-right-button {
    @include absolute(50%, $qv-slider-offset, inherit, inherit);

    padding: 7px 9px 7px 11px;
  }
}