<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>I Still Love Calligraphy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="lib/pure/pure.css">
        <link rel="stylesheet" href="styles/screen.css">
        <!-- endbuild -->
</head>
  <body ng-app="islcAngularApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="lib/es5-shim/es5-shim.js"></script>
      <script src="lib/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
        <nav id="top-nav" ui-view="nav">

            <!--BEGINNING OF STATIC CONTENT-->

            <div class="pure-g-r ng-scope">
                <div class="pure-u-2-5">
                    <div class="islc-logo"></div>
                </div>

                <ul id="nav-links" class="pure-menu-horizontal pure-u-2-5">
                    <!-- ngRepeat: link in links --><li class="nav-link-item ng-scope" ng-repeat="link in links">
                    <a class="nav-link ng-binding" ng-href="#/supplies" href="#/supplies">supplies</a>
                </li><li class="nav-link-item ng-scope" ng-repeat="link in links">
                    <a class="nav-link ng-binding" ng-href="#/faq" href="#/faq">faqs</a>
                </li><li class="nav-link-item ng-scope" ng-repeat="link in links">
                    <a class="nav-link ng-binding" ng-href="#/shop" href="#/shop">shop</a>
                </li><li class="nav-link-item ng-scope" ng-repeat="link in links">
                    <a class="nav-link ng-binding" ng-href="#/sign-in" href="#/sign-in">sign in</a>
                </li>
                </ul>
                <div id="nav-stretch" class="pure-u-1-5 pure-visible-desktop"></div>
            </div>

            <!--END OF STATIC CONTENT-->

        </nav>
        <div ui-view="body">


            <!--BEGINNING OF STATIC CONTENT-->

            <div class="pure-g-r landing-page ng-scope">
                <div class="pure-u-1">
                    <h1 class="header centered">learn modern calligraphy</h1>
                </div>

                <div class="pure-u-1 pure-g-r background-gray1 single">
                    <div class="pure-u-1-2">
                        <p class="pull-right-desktop centered-tablet no-padding-phone single-text text-x-medium">
                            Preserve the art of calligraphy. Make paper beautiful with a modern twist on a 6th century art.
                        </p>
                    </div>
                    <div class="pure-u-1-2">
                        <button class="button-cta centered-phone" ng-click="convert('online-calligraphy-course')">learn calligraphy today</button>
                    </div>
                </div>

                <div class="pure-u-1 ng-isolate-scope ng-scope" qv-slider="images.melissa"><div class="qv-slider">
                    <div class="qv-slider-button qv-slider-left-button background-left-arrow-circle" ng-click="slide(380)" ng-hide="hideRight" style="display: none;"></div>
                    <ul class="qv-slider-list">
                        <!-- ngRepeat: image in images --><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                        <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/melissa/melissaesplin-mothersday-card-pack-giveaway-8.jpg" alt="">
                        <a class="qv-slider-link ng-binding" href="" ng-show="image.href" target="_blank" style="display: none;"></a>
                    </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                        <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/melissa/melissaesplin-mothersday-card-pack-giveaway-7.jpg" alt="">
                        <a class="qv-slider-link ng-binding" href="" ng-show="image.href" target="_blank" style="display: none;"></a>
                    </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                        <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/melissa/melissaesplin-mothersday-card-pack-giveaway-6.jpg" alt="">
                        <a class="qv-slider-link ng-binding" href="" ng-show="image.href" target="_blank" style="display: none;"></a>
                    </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                        <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/melissa/melissaesplin-mothersday-card-pack-giveaway-5.jpg" alt="">
                        <a class="qv-slider-link ng-binding" href="" ng-show="image.href" target="_blank" style="display: none;"></a>
                    </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                        <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/melissa/melissaesplin-mothersday-card-pack-giveaway-2.jpg" alt="">
                        <a class="qv-slider-link ng-binding" href="" ng-show="image.href" target="_blank" style="display: none;"></a>
                    </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                        <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/melissa/istillloveyou-calligraphy-megans-prayer-2.jpg" alt="">
                        <a class="qv-slider-link ng-binding" href="" ng-show="image.href" target="_blank" style="display: none;"></a>
                    </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                        <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/melissa/istillloveyou-calligraphy-friendship-cs-lewis-quote-2.jpg" alt="">
                        <a class="qv-slider-link ng-binding" href="" ng-show="image.href" target="_blank" style="display: none;"></a>
                    </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                        <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/melissa/istillloveyou-calligraphy-custom-lettered-cards-1.jpg" alt="">
                        <a class="qv-slider-link ng-binding" href="" ng-show="image.href" target="_blank" style="display: none;"></a>
                    </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                        <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/melissa/istillloveyou-calligraphy-custom-everyday-im-hustlin.jpg" alt="">
                        <a class="qv-slider-link ng-binding" href="" ng-show="image.href" target="_blank" style="display: none;"></a>
                    </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                        <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/melissa/istilllovecalligraphy-custom-calligraphy-notecards2.jpg" alt="">
                        <a class="qv-slider-link ng-binding" href="" ng-show="image.href" target="_blank" style="display: none;"></a>
                    </li>
                    </ul>
                    <div class="qv-slider-button qv-slider-right-button background-right-arrow-circle" ng-click="slide(-380)" ng-hide="hideLeft"></div>
                </div>
                </div>
                <div class="pure-u-1">
        <span class="linkout pull-right">
            see more calligraphy at <a href="http://melissaesplin.com">MELISSAESPLIN.COM</a>
        </span>
                </div>

                <div class="pure-u-1 pure-visible-desktop">
                    <div class="background-make-paper-sing centered"></div>
                </div>
                <div class="pure-u-1 pure-hidden-desktop"><br><br></div>



                <div class="pure-u-1-3 triple border-right">
                    <div class="background-beginner centered"></div>
                    <p class="centered text-x-medium">
                        Beginner? No problem! the course starts with ABCs and 123s. Personalized coaching, printables and assignments do the rest.
                    </p>
                </div>

                <div class="pure-u-1-3 triple border-right">
                    <div class="background-personal-feedback centered"></div>
                    <p class="centered text-x-medium">
                        Develop your penmanship with help from a professional calligrapher. A combination of written and video instruction are supplemented with Melissa's personal comments on your work.
                    </p>
                </div>

                <div class="pure-u-1-3 triple">
                    <div class="background-learn-your-way centered"></div>
                    <p class="centered">
                        Personalized coaching, videos, practice printables and step-by-step walk-throughs to address all learning styles
                    </p>
                </div>

                <div class="pure-u-1">
                    <button class="button-cta centered" ng-click="convert('online-calligraphy-course')">get started now</button>
                </div>

                <div class="pure-u-1 background-gray1 single student-work">
                    <div class="background-student-work centered"></div>
                    <div class="pure-u-1 ng-isolate-scope ng-scope" qv-slider="images.studentWork"><div class="qv-slider">
                        <div class="qv-slider-button qv-slider-left-button background-left-arrow-circle" ng-click="slide(380)" ng-hide="hideRight" style="display: none;"></div>
                        <ul class="qv-slider-list">
                            <!-- ngRepeat: image in images --><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                            <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/student-work/sincerelyserendipity.com|jennifer_lioy|2.jpeg" alt="jennifer lioy">
                            <a class="qv-slider-link ng-binding" href="http://sincerelyserendipity.com" ng-show="image.href" target="_blank">jennifer lioy</a>
                        </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                            <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/student-work/sincerelyserendipity.com|jennifer_lioy|1.jpeg" alt="jennifer lioy">
                            <a class="qv-slider-link ng-binding" href="http://sincerelyserendipity.com" ng-show="image.href" target="_blank">jennifer lioy</a>
                        </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                            <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/student-work/kaelasoohoo.com|kaela_soohoo|2.jpg" alt="kaela soohoo">
                            <a class="qv-slider-link ng-binding" href="http://kaelasoohoo.com" ng-show="image.href" target="_blank">kaela soohoo</a>
                        </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                            <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/student-work/kaelasoohoo.com|kaela_soohoo|1.jpg" alt="kaela soohoo">
                            <a class="qv-slider-link ng-binding" href="http://kaelasoohoo.com" ng-show="image.href" target="_blank">kaela soohoo</a>
                        </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                            <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/student-work/emilyecavanagh.com|emily_cavanagh.JPG" alt="emily cavanagh">
                            <a class="qv-slider-link ng-binding" href="http://emilyecavanagh.com" ng-show="image.href" target="_blank">emily cavanagh</a>
                        </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                            <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/student-work/emilimedesigns.com|emilee_stucky|2.jpg" alt="emilee stucky">
                            <a class="qv-slider-link ng-binding" href="http://emilimedesigns.com" ng-show="image.href" target="_blank">emilee stucky</a>
                        </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                            <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/student-work/emilimedesigns.com|emilee_stucky|1.jpg" alt="emilee stucky">
                            <a class="qv-slider-link ng-binding" href="http://emilimedesigns.com" ng-show="image.href" target="_blank">emilee stucky</a>
                        </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                            <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/student-work/chickpea-studios.com|juliette_lanvers|2.png" alt="juliette lanvers">
                            <a class="qv-slider-link ng-binding" href="http://chickpea-studios.com" ng-show="image.href" target="_blank">juliette lanvers</a>
                        </li><li class="qv-slider-list-item ng-scope" ng-repeat="image in images">
                            <img class="qv-slider-image" src="https://s3.amazonaws.com/images.melissaesplin.com/calligraphy/assets/student-work/chickpea-studios.com|juliette_lanvers|1.png" alt="juliette lanvers">
                            <a class="qv-slider-link ng-binding" href="http://chickpea-studios.com" ng-show="image.href" target="_blank">juliette lanvers</a>
                        </li>
                        </ul>
                        <div class="qv-slider-button qv-slider-right-button background-right-arrow-circle" ng-click="slide(-380)" ng-hide="hideLeft"></div>
                    </div>
                    </div>
                </div>

                <div class="pure-u-2-5">
                    <div class="background-how-does-it-work pull-right-desktop centered-tablet"></div>
                </div>

                <div class="pure-u-3-5">
                    <div class="bordered">
                        <ul class="aligned-list no-margin text-x-medium">
                            <li>4 Videos</li>
                            <li>9 Lessons</li>
                            <li>3 Practice Guides</li>
                            <li>8 Assignments</li>
                            <li>Personal Coaching</li>
                            <li>Private student/teacher gallery for troubleshooting and critiques</li>
                            <li>Mobile/tablet compatible</li>
                        </ul>
                        <p class="text-x-medium">
                            Hundreds of students have learned the pointed pen with Melissa's step-by-step process.
                            Melissa's students have incorporated their calligraphy techniques into freelance wedding invitations, sign painting and graphic art.
                        </p>
                        <button class="button-cta centered" ng-click="convert('online-calligraphy-course')">click to start</button>
                    </div>
                </div>

                <div class="pure-u-1 pure-g-r email-footer">
                    <div class="pure-u-2-5 email-footer-item">
                        <p class="text-medium pull-right-desktop centered-tablet no-margin align-right">
                            Sign up for our newsletter to receive deals and course announcements in your inbox
                        </p>
                    </div>
                    <div class="pure-u-1-5 email-footer-item">
                        <form action="" class="ng-pristine ng-valid">
                            <input class="centered" type="email" placeholder="email address">
                        </form>
                    </div>
                    <div class="pure-u-2-5 email-footer-item">
                        <button class="button-secondary centered-tablet">subscribe</button>
                    </div>
                </div>

            </div>

            <!--END OF STATIC CONTENT-->

        </div>
    </div>
    <div notifications="bottom right"></div>

    <footer id="copyright-footer">
        &copy; Melissa Esplin 2013
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/angular/angular.js"></script>

        <!-- build:js scripts/modules.js -->
        <script src="lib/angular-resource/angular-resource.js"></script>
        <script src="lib/angular-cookies/angular-cookies.js"></script>
        <script src="lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="lib/lodash/dist/lodash.min.js"></script>
        <script src="lib/restangular/dist/restangular.min.js"></script>
        <script src="lib/angular-notify/notification.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/Nav.js"></script>
        <script src="scripts/controllers/Root.js"></script>
        <script src="scripts/directives/qvSlider.js"></script>
        <script src="scripts/services/assetService.js"></script>
        <script src="scripts/services/userService.js"></script>
        <script src="scripts/services/underscore.js"></script>
        <script src="scripts/directives/qvPasswordVerify.js"></script>
        <script src="scripts/controllers/Account.js"></script>
        <script src="scripts/controllers/Login.js"></script>
        <script src="scripts/directives/qvFocus.js"></script>
        <script src="scripts/services/addressService.js"></script>
        <script src="scripts/services/notificationService.js"></script>
        <!-- endbuild -->
</body>
</html>
