$colors:
  green1 green;

// Background colors class names.
@each $color in $colors {
  .background-#{nth($color, 1)} {
    background-color : nth($color, 2);
  }
}

// Text colors.
@each $color in $colors {
  .text-#{nth($color, 1)} {
    color : nth($color, 2);
  }
}