// Desktop
@media (min-width: 980px) {
  .centered-desktop {
    margin-left: auto;
    margin-right: auto;
  }

  .pull-right-desktop {
    float: right;
  }

  .pull-left-desktop {
    float: left;
  }

  .hidden-desktop {
    display: none;
  }

}

// Sub-Phone
@media (max-width: 480px) {
  .visible-desktop {
    display: none;
  }
}

// Phone
@media (max-width: 767px) {
  .centered-phone, .centered-tablet {
    margin-left: auto;
    margin-right: auto;
  }

  .centered-text-phone, .centered-text-tablet {
    text-align: center;
  }

  .pull-right-phone, .pull-right-tablet {
    float: right;
  }

  .pull-left-phone, .pull-left-tablet {
    float: left;
  }

  .no-padding-phone, .no-padding-tablet {
    padding: 0 !important;
  }

  .visible-desktop {
    display: none;
  }

  .visible-tablet {
    display: none;
  }

  .padded-wrapper {
    padding: 5px 10px;
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 979px) {
  .centered-tablet {
    margin-left: auto;
    margin-right: auto;
  }

  .pull-right-tablet {
    float: right;
  }

  .pull-left-tablet {
    float: left;
  }

  .no-padding-tablet {
    padding: 0 !important;
  }

  .visible-desktop {
    display: none;
  }
}