$font-root: 'fonts/';
@font-face {
  font-family: 'Museo Sans';
  src: url($font-root + 'exljbris_-_museosans-100-webfont.eot');
  src: url($font-root + 'exljbris_-_museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-root + 'exljbris_-_museosans-100-webfont.woff') format('woff'),
  url($font-root + 'exljbris_-_museosans-100-webfont.ttf') format('truetype'),
  url($font-root + 'exljbris_-_museosans-100-webfont.svg#museo_sans100') format('svg');
  font-weight: 100;
  font-style: normal;

}

@font-face {
  font-family: 'Museo Sans';
  src: url($font-root + 'exljbris_-_museosans-100italic-webfont.eot');
  src: url($font-root + 'exljbris_-_museosans-100italic-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-root + 'exljbris_-_museosans-100italic-webfont.woff') format('woff'),
  url($font-root + 'exljbris_-_museosans-100italic-webfont.ttf') format('truetype'),
  url($font-root + 'exljbris_-_museosans-100italic-webfont.svg#museo_sans100_italic') format('svg');
  font-weight: 100;
  font-style: italic;

}

@font-face {
  font-family: 'Museo Sans';
  src: url($font-root + 'exljbris_-_museosans-300-webfont.eot');
  src: url($font-root + 'exljbris_-_museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-root + 'exljbris_-_museosans-300-webfont.woff') format('woff'),
  url($font-root + 'exljbris_-_museosans-300-webfont.ttf') format('truetype'),
  url($font-root + 'exljbris_-_museosans-300-webfont.svg#museo_sans300') format('svg');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Museo Sans';
  src: url($font-root + 'exljbris_-_museosans-300italic-webfont.eot');
  src: url($font-root + 'exljbris_-_museosans-300italic-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-root + 'exljbris_-_museosans-300italic-webfont.woff') format('woff'),
  url($font-root + 'exljbris_-_museosans-300italic-webfont.ttf') format('truetype'),
  url($font-root + 'exljbris_-_museosans-300italic-webfont.svg#museo_sans300_italic') format('svg');
  font-weight: 300;
  font-style: italic;

}

@font-face {
  font-family: 'Museo Sans';
  src: url($font-root + 'exljbris_-_museosans-500-webfont.eot');
  src: url($font-root + 'exljbris_-_museosans-500-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-root + 'exljbris_-_museosans-500-webfont.woff') format('woff'),
  url($font-root + 'exljbris_-_museosans-500-webfont.ttf') format('truetype'),
  url($font-root + 'exljbris_-_museosans-500-webfont.svg#museo_sans500') format('svg');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'Museo Sans';
  src: url($font-root + 'exljbris_-_museosans-500italic-webfont.eot');
  src: url($font-root + 'exljbris_-_museosans-500italic-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-root + 'exljbris_-_museosans-500italic-webfont.woff') format('woff'),
  url($font-root + 'exljbris_-_museosans-500italic-webfont.ttf') format('truetype'),
  url($font-root + 'exljbris_-_museosans-500italic-webfont.svg#museo_sans500_italic') format('svg');
  font-weight: 500;
  font-style: italic;

}

@font-face {
  font-family: 'Museo Sans';
  src: url($font-root + 'exljbris_-_museosans-700-webfont.eot');
  src: url($font-root + 'exljbris_-_museosans-700-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-root + 'exljbris_-_museosans-700-webfont.woff') format('woff'),
  url($font-root + 'exljbris_-_museosans-700-webfont.ttf') format('truetype'),
  url($font-root + 'exljbris_-_museosans-700-webfont.svg#museo_sans700') format('svg');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Museo Sans';
  src: url($font-root + 'exljbris_-_museosans-700italic-webfont.eot');
  src: url($font-root + 'exljbris_-_museosans-700italic-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-root + 'exljbris_-_museosans-700italic-webfont.woff') format('woff'),
  url($font-root + 'exljbris_-_museosans-700italic-webfont.ttf') format('truetype'),
  url($font-root + 'exljbris_-_museosans-700italic-webfont.svg#museo_sans700_italic') format('svg');
  font-weight: 700;
  font-style: italic;

}

@font-face {
  font-family: 'Museo Sans';
  src: url($font-root + 'exljbris_-_museosans-900-webfont.eot');
  src: url($font-root + 'exljbris_-_museosans-900-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-root + 'exljbris_-_museosans-900-webfont.woff') format('woff'),
  url($font-root + 'exljbris_-_museosans-900-webfont.ttf') format('truetype'),
  url($font-root + 'exljbris_-_museosans-900-webfont.svg#museo_sans900') format('svg');
  font-weight: 900;
  font-style: normal;

}

@font-face {
  font-family: 'Museo Sans';
  src: url($font-root + 'exljbris_-_museosans-900italic-webfont.eot');
  src: url($font-root + 'exljbris_-_museosans-900italic-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-root + 'exljbris_-_museosans-900italic-webfont.woff') format('woff'),
  url($font-root + 'exljbris_-_museosans-900italic-webfont.ttf') format('truetype'),
  url($font-root + 'exljbris_-_museosans-900italic-webfont.svg#museo_sans900_italic') format('svg');
  font-weight: 900;
  font-style: italic;

}