$sprites:
  beginner,
  how-does-it-work,
  islc-logo,
  learn-your-way,
  left-arrow,
  make-paper-sing,
  personal-feedback,
  right-arrow,
  student-work,
  thankyou;

// Sprites
@each $sprite in $sprites {
  .background-#{$sprite} {
    @include use-sprite($sprite);
  }
}

$background-url: url('../images/backgrounds/background3.png');
.background-background {
  background-image: $background-url;
}

$background-gray-url: url('../images/backgrounds/background-gray.png');
.background-background-gray {
  background-image: $background-gray-url;
}