$sprites:
  beginner,
  how-does-it-work,
  islc-logo,
  learn-your-way,
  left-arrow,
  make-paper-sing,
  personal-feedback,
  right-arrow,
  student-work,
  thankyou,
  testimonials,
  twitter,
  facebook,
  shop,
  pinterest,
  instagram,
  youtube;

// Sprites
@each $sprite in $sprites {
  .background-#{$sprite} {
    @include use-sprite($sprite);
  }
}

.background-about {
  @include use-sprite(about, -2px);
}

$background-url: url('../images/backgrounds/background1.png');
.background-background {
  background-image: $background-url;
}

$background-gray-url: url('../images/backgrounds/background-gray-1point5.png');
.background-background-gray {
  background-image: $background-gray-url;
}

$me-url: url('../images/photos/me.png');
.background-me {
  background-image: $me-url;
  background-size: 172px;
  height: 172px;
  width: 172px;
}